- view_component = "app_scripts"
- if lookup_context.template_exists?(view_component, 'capital_plans', true)
  = render :partial => "capital_plans/#{view_component}"

:javascript

  var selected_plan_actions =  JSON.parse('#{CapitalPlanAction.joins(:capital_plan).where(capital_plans: {organization_id: @organization_list}).system_actions.map{|x| x.object_key}.to_json.html_safe}');
  var unselected_plan_actions = [];

  $(document).ready(function() {

    var org_count = parseInt('#{TransitOperator.where(id: @organization_list).count}');

    // disable group checkboxes if all agencies disabled
    $(".capital-plan-action-grp-checkbox").each(function() {
      disabled_count = $('input.capital-plan-action-checkbox[data-col-index="'+$(this).data('col-index')+'"]:disabled').length
      if (disabled_count == org_count) {
        $(this).prop('disabled', true);
      }
    });

    $(".capital-plan-action-checkbox").on('click', function(e) {
      after_checkbox_change($(this));
    });

    $(".capital-plan-action-grp-checkbox").on('click', function(e) {
      grp_checkbox = $(this);
      $('input.capital-plan-action-checkbox[data-col-index="'+$(this).data('col-index')+'"]').each(function() {
        if ($(this).is(":not(:disabled)")) {
          changed = false;
          if ((grp_checkbox.is(':checked')) && ($(this).is(':not(:checked)'))) {
            changed = true;
          } else if ((grp_checkbox.is(':not(:checked)')) && ($(this).is(':checked'))) {
            changed = true;
          }

          if (changed) {
            $(this).prop('checked', grp_checkbox.is(':checked'));
            after_checkbox_change($(this));
          }

        }
      });
    });

    $(".capital-plan-action").on('click', function(e) {
      $('#spinner').show();

      var href = $(this).attr('href');
      selected_plan_actions = $.unique(selected_plan_actions);
      unselected_plan_actions = $.unique(unselected_plan_actions);

      $.ajax({
          url: href,
          type: 'GET',
          dataType: 'json',
          data: { targets: selected_plan_actions.join(','), undo_targets: unselected_plan_actions.join(',')},
          complete: function(data, status) {
            console.log(data);
            // data.redirect contains the string URL to redirect to
            location.reload(false);
          }
      });

      return false;
    });

  });

  function after_checkbox_change(checkbox) {
    action_obj_key = checkbox.val();
    if (checkbox.is(':checked')) {
      selected_plan_actions.push(action_obj_key);

      // if in opposite array remove
      idx = unselected_plan_actions.indexOf(action_obj_key);
      if (idx > -1) {
        unselected_plan_actions.splice(idx, 1);
      }

    } else {
      unselected_plan_actions.push(action_obj_key);

      // if in opposite array remove
      idx = selected_plan_actions.indexOf(action_obj_key);
      if (idx > -1) {
        selected_plan_actions.splice(idx, 1);
      }
    }

    selected_plan_actions = $.unique(selected_plan_actions);
    unselected_plan_actions = $.unique(unselected_plan_actions);

    var url = '#{get_checkboxes_capital_plans_path}';
    var targets = get_checkbox_vals(checkbox);
    $.ajax({
      url: url,
      data: {id: targets[0], checked_targets: targets[1]},
      success: function(result){
        //console.log(result);
        $.each( result, function( key, value ) {
          checkbox = $('input.capital-plan-action-checkbox[value="'+key+'"]');
          if (value['disabled'] == 'disabled') {
            checkbox.prop('disabled', true);
          } else {
            checkbox.prop('disabled', false);
          }
        });
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert("We are sorry but something went wrong. " + xhr.status + " " + thrownError);
      }
    });
  }
