%li
  = link_to edit_milestones_capital_project_activity_line_item_path(project, ali), :remote => true do
    %i.fa.fa-clock-o.fa-fw
    = " Update milestones"

%li
  = link_to edit_cost_capital_project_activity_line_item_path(project, ali), :remote => true do
    %i.fa.fa-usd.fa-fw
    = " Update the expected cost"
- if ali.sogr? && ali.anticipated_cost && ali.anticipated_cost > 0
  %li
    = link_to restore_cost_capital_project_activity_line_item_path(project, ali), :remote => true, :id => 'restore_cost_ali' do
      %i.fa.fa-usd.fa-fw
      = " Restore SOGR Estimated Cost"
- if !ali.sogr? && can?(:update, ali)
  %li.divider
  %li
    = link_to capital_project_activity_line_item_path(project, ali), :remote => true, :method => :delete, :data => {:confirm => "Are you sure you want to remove this ALI? The action cannot be undone."}  do
      %i.fa.fa-trash-o.fa-fw
      = " Remove this ALI"

:javascript

  $("#restore_cost_ali").click(function(){
    $('#spinner').show();
  });


