:css
  .planner-project-column {
    min-width: 225px !important;
    max-width: 300px !important;
  }

  #plan-table {
    width: auto;
    max-width: none;
  }

  table.floatThead-table{
    background-color: white;
  }

  .table-responsive table thead th:not(:first-of-type){
    min-width: 120px !important;
  }
  .table-responsive table .panel-body > p{
    word-break: break-word;
  }

.table-responsive
  %table.table.table-condensed#plan-table
    %thead
      %tr
        %th.left Project
        - cost_by_year = @alis.group("activity_line_items.fy_year").sum(ActivityLineItem::COST_SUM_SQL_CLAUSE) || {}
        - @years.each do |year|
          %th.center.nowrap
            - if @project_display_threshold_reached
              - if @display_fy_year == year
                %button.btn.btn-default.disabled.bold
                  = format_as_fiscal_year(year)
              - else
                = link_to format_as_fiscal_year(year), params.merge({display_fy_year: year}), class: "btn btn-info bold project-planner-year-link", data: {year: year}, title: "Click to load #{format_as_fiscal_year(year)} projects"
            - else
              = link_to format_as_fiscal_year(year), "##{year}", class: "btn btn-info bold project-planner-year-link"
            
            %br
            .well.well-sm.bold{:id => 'fy-sum-'+year.to_s, :data => {:cost => cost_by_year[year].nil? ? '0' : cost_by_year[year]} }= format_as_currency(cost_by_year[year])
    %tbody
      - @alis = @alis.includes(:team_ali_code).references(:team_ali_code)
      - @display_projects.each_with_index do |project, idx|
        - properties = {:data => {:project => project.object_key}, :class => project.fy_year.to_s+'-'+project.capital_project_type_id.to_s}
        %tr{project.fy_year == @display_projects[idx-1].fy_year ? properties : properties.merge({id: project.fy_year})}
          - project_has_early_replacement_assets = false
          - proj_alis = @alis.find_all { |ali| ali.capital_project_id == project.id }
          %td.left.planner-project-column
            = render :partial => 'plan_project_detail', :locals => {:project => project}

          - planning_year_locked = CapitalPlan.current_plan(project.organization_id) ? CapitalPlan.current_plan(project.organization_id).capital_plan_module_completed?(CapitalPlanModuleType.find_by(name: 'Constrained Plan').id) : false
          - @years.each do |year|
            %td.striped{:class => (planning_year_locked && year == current_planning_year_year) ? '' : 'drop-target', :data => {:year => year}, :id => project.object_key + '-' + year.to_s}
              - next if @display_fy_year != year if !project.multi_year && @display_fy_year
              - #@alis.where(:fy_year => year, :capital_project_id => project.id).each do |ali|
              - (proj_alis.find_all { |ali| ali.fy_year == year }).each do |ali|
                - project_has_early_replacement_assets = true if !project_has_early_replacement_assets && !ali.notional? && ali.sogr? && ali.has_early_replacement_assets?
                /= render 'ali_render_adaptor', project: project, ali: ali
                - if ali.is_planning_complete
                  /= render :partial => 'planning/sogr_ali', :locals => {:project => project, :ali => ali}
                  - draggable_class = ""
                  .panel.panel-complete.transam-tooltip{:data => {:year => ali.fy_year, :ali => ali.object_key, :project => ali.capital_project.object_key, :placement => "left", :title => "#{format_as_fiscal_year(ali.fy_year)}", :toggle => "tooltip"}, :tabindex => "0"}
                    = render :partial => 'planning/ali', :locals => {:project => project, :ali => ali}

                - elsif ali.notional?
                  /= render :partial => 'planning/notional_ali', :locals => {:project => project, :ali => ali}
                  .panel.panel-notional.transam-tooltip{:data => {:year => ali.fy_year, :ali => ali.object_key, :project => ali.capital_project.object_key, :placement => "left", :title => "#{format_as_fiscal_year(ali.fy_year)}", :toggle => "tooltip"}, :tabindex => "0"}
                    = render :partial => 'planning/ali', :locals => {:project => project, :ali => ali}

                - elsif ali.sogr?
                  /= render :partial => 'planning/sogr_ali', :locals => {:project => project, :ali => ali}
                  - draggable_class = can?(:update, ali) || can?(:update_cost, ali)  ? "draggable" : ""
                  .panel.panel-sogr.transam-tooltip{:class => draggable_class, :data => {:url => ali_action_planning_index_path, :year => ali.fy_year, :ali => ali.object_key, :action => PlanningController::ALI_MOVE_YEAR_ACTION, :project => ali.capital_project.object_key, :assets_policy_replacement_years => ali.assets.pluck(:policy_replacement_year).uniq, :placement => "left", :title => "#{format_as_fiscal_year(ali.fy_year)}", :toggle => "tooltip"}, :tabindex => "0"}
                    = render :partial => 'planning/ali', :locals => {:project => project, :ali => ali, :is_sogr => true}
                - else
                  /= render :partial => 'planning/other_ali', :locals => {:project => project, :ali => ali}
                  - draggable_class = can?(:update, ali) || can?(:update_cost, ali)  ? "draggable" : ""
                  .panel.panel-other.transam-tooltip{:class => draggable_class, :data => {:url => ali_action_planning_index_path, :year => ali.fy_year, :ali => ali.object_key, :action => PlanningController::ALI_MOVE_YEAR_ACTION, :project => ali.capital_project.object_key, :placement => "left", :title => "#{format_as_fiscal_year(ali.fy_year)}", :toggle => "tooltip"}, :tabindex => "0"}
                    = render :partial => 'planning/ali', :locals => {:project => project, :ali => ali}

          - if project_has_early_replacement_assets
            :javascript
              $('tr[data-project="#{project.object_key}"] .project-early-replacement-warning').html(
              '<a class="transam-tooltip" data-placement="top" data-title="Contains early replacement assets" data-toggle="tooltip" tabindex="0" data-original-title="" title="">' +
              '<i class="fa fa-exclamation-triangle text-danger"></i></a>');

- if @project_display_threshold_reached
  :javascript
    $(function() {
      $('.project-planner-year-link').click(function() {
        var year = $(this).data('year');
        var current_url = window.location.href;
      });
    });

:javascript

  var org_filter = #{@org_filter || []};
  var capital_project_type_filter = #{@capital_project_type_filter};
  var capital_project_flag_filter = #{@capital_project_flag_filter};
  var asset_subtype_filter = #{@asset_subtype_filter || []};

  $("#plan-table").floatThead({
      responsiveContainer: function($table){
          return $table.closest(".table-responsive");
      },
      top: function(){
        // keep the floating head below the header
        return $('nav.navbar.navbar-fixed-top').height();
      }
  });

