.table-responsive
  %table.table.table-condensed#plan-table
    %thead
      %tr
        %th.left Project
        - @years.each do |year|
          %th.center.nowrap
            = format_as_fiscal_year(year)
            %br
            .well.well-sm.bold= format_as_currency(sum_projects_cost(@projects, year))
    %tbody
      - @projects.each do |project|
        %tr{:data => {:project => project.object_key}}
          %td.left.nowrap
            = render :partial => 'plan_project_detail', :locals => {:project => project}

          - @years.each do |year|
            %td.striped.drop-target{:data => {:year => year}}
              - alis = project.activity_line_items.where(:fy_year => year).each do |ali|
                - if ali.notional?
                  = render :partial => 'notional_ali', :locals => {:project => project, :ali => ali}
                - elsif ali.sogr?
                  = render :partial => 'sogr_ali', :locals => {:project => project, :ali => ali}
                - else
                  = render :partial => 'other_ali', :locals => {:project => project, :ali => ali}

:javascript

  var org_filter = #{@org_filter};
  var capital_project_type_filter = #{@capital_project_type_filter};
  var capital_project_flag_filter = #{@capital_project_flag_filter};
  var asset_subtype_filter = #{@asset_subtype_filter};
