.btn-group.pull-right.panel-action
  %button.btn.btn-primary.btn-sm.dropdown-toggle{:data => {:toggle => 'dropdown'}}
    %i.fa.fa-cog
    = " Actions"
    %span.caret
  %ul.dropdown-menu{:role => 'menu'}
    - if can? :create, CapitalProject
      %li.text-left
        = link_to new_capital_project_path do
          %i.fa.fa-plus.fa-fw
          = " New Capital Project"
    -# %li
    -#   = link_to planning_index_path(:capital_project_type_id => @capital_project_type_id, :org_id => @org_filter, :status_type_id => @status_type_id, :start_row => 0, :format => 'xls') do
    -#     %i.fa.fa-fw.fa-file-excel-o
    -#     = " Export plan to Excel"

= form_tag planning_index_path, :id => 'filter_form', :method => "get", :class => 'navbar-form navbar-right panel-action' do
  = hidden_field_tag :reset_filter_session, true
  - if @organization_list.count > 1
    .form-group
      = select_tag(:org_filter, options_for_select(Organization.where('id IN (?)', @organization_list).collect{|a| [a.coded_name, a.id]}, :selected => @org_filter), :class => "form-control", :style => "width: 200px;", :multiple => true)
  -# .form-group
  -#   = select_tag(:fiscal_year, options_for_select(@fiscal_years, :selected => @fiscal_year), :class => "form-control", :style => "width: 100px;", :prompt => "Any FY...")
  -# .form-group
  -#   = select_tag(:capital_project_state, options_for_select(CapitalProject.state_names.collect{|a| [a.humanize, a]}, :selected => @capital_project_state), :class => "form-control", :prompt => "Any status...")
  .form-group
    = select_tag(:capital_project_flag_filter, options_for_select(PlanningController::CAPITAL_PROJECT_FLAGS, :selected => @capital_project_flag_filter), :class => "form-control", :multiple => true)
  .form-group
    = select_tag(:capital_project_type_filter, options_for_select(CapitalProjectType.active.collect{|a| [a.name, a.id]}, :selected => @capital_project_type_filter), :class => "form-control", :multiple => true)
  -# .form-group
  -#   = select_tag(:funding_source_id, option_groups_from_collection_for_select(FundingSourceType.active, :funding_sources, :name, :id, :name, :selected => @funding_source_id), :class => "form-control", :prompt => "Any funding source...")
  .form-group
    = select_tag(:asset_subtype_filter, option_groups_from_collection_for_select(AssetType.active, :asset_subtypes, :name, :id, :name, :selected => @asset_subtype_filter), :class => "form-control", :multiple => true)

  = button_tag :class => 'btn btn-default', :type => 'submit' do
    %i.fa.fa-filter

  = link_to planning_index_path(reset_filter_session: 'true'), :class => "btn btn-default btn-sm", :style => 'margin-left: 2px;', :title => 'Reset form' do
    %i.fa.fa-refresh

:javascript
  $(document).ready(function() {

    $('#capital_project_flag_filter').multiselect({
      inheritClass: true,
      maxHeight: 250,
      buttonText: function(options, select) {
        if (options.length === 0) {
          return 'Project flags...';
        } else {
          return 'Project flags - ' + options.length + ' selected';
        }
      }
    });
    $('#capital_project_type_filter').multiselect({
      inheritClass: true,
      maxHeight: 250,
      buttonText: function(options, select) {
        if (options.length === 0) {
          return 'Project types...';
        } else {
          return 'Project types - ' + options.length + ' selected';
        }
      }
    });
    $('#asset_subtype_filter').multiselect({
      enableClickableOptGroups: true,
      enableCollapsibleOptGroups: true,
      inheritClass: true,
      maxHeight: 250,
      buttonText: function(options, select) {
        if (options.length === 0) {
          return 'Asset types...';
        } else {
          return 'Asset types - ' + options.length + ' selected';
        }
      }
    });
    $('#fiscal_year_filter').multiselect({
      inheritClass: true,
      maxHeight: 250,
      buttonText: function(options, select) {
        if (options.length === 0) {
          return 'Fiscal years...';
        } else {
          return 'Fiscal years - ' + options.length + ' selected';
        }
      }
    });
    $('#org_filter').multiselect({
      inheritClass: true,
      maxHeight: 250,
      buttonText: function(options, select) {
        if (options.length === 0) {
          return 'Organizations...';
        } else {
          return 'Organizations - ' + options.length + ' selected';
        }
      }
    });
  });
