- if @status == 'render_all'
  = render 'ajax_view_update'
- elsif @status == 'js_update'
  $('div[data-ali="#{@activity_line_item.object_key}"]').hide();
  - if CapitalProject.find_by(id: @capital_project.id).nil?
    $('tr[data-project="#{@capital_project.object_key}"]').hide();

  // update fiscal year sum
  var old_fy_sum = parseInt($("#fy-sum-#{@old_ali_fy}").data('cost'));
  var new_val = old_fy_sum - parseInt("#{@ali_cost}");
  $("#fy-sum-#{@old_ali_fy}").html(number_to_currency(new_val));
  $("#fy-sum-#{@old_ali_fy}").data('cost', new_val);

  = render :partial => 'move_ali_assets', locals: { alis: @new_alis }
- elsif @status == 'job'
  $(".draggable").draggable({ disabled: true });
  $(".drop-target").droppable({ disabled: true });
  $(".ali_actions").attr('disabled','disabled');


- if @message.present?
  transam.show_popup_message("#{@title}", "#{@message}", "#{@alert_class}");