- if @status == 'render_all'
  = render 'ajax_view_update'
-elsif @status == 'js_update'
  $('div[data-ali="#{@activity_line_item.object_key}"]').hide();
  = render :partial => 'move_ali_assets', locals: { alis: @new_alis }

- if @message.present?
  transam.show_popup_message("#{@title}", "#{@message}", "#{@alert_class}");
  
