- if @job_finished
  - if ActivityLineItem.find_by(id:@activity_line_item.id).nil?
    - if CapitalProject.find_by(id: @capital_project.id).nil?
      $('tr[data-project="#{@capital_project.object_key}"]').hide();
    - else
      $('div[data-ali="#{@activity_line_item.object_key}"]').hide();
  - else
    - @activity_line_item.reload
    $('div[data-ali="#{@activity_line_item.object_key}"]').html("<div class='panel-body'>#{raw escape_javascript(render :partial => 'ali', locals: { project: @activity_line_item.capital_project, ali: @activity_line_item })}</div>");

  = render :partial => 'move_ali_assets', locals: { alis: @alis_touched }


$('#spinner').hide();
$(".modal-backdrop").remove();
- if @message.present?
  transam.show_popup_message("#{@title}", "#{@message}", "#{@alert_class}");
