- if @job_finished
  - if ActivityLineItem.find_by(id:@activity_line_item.id).nil?
    - if CapitalProject.find_by(id: @capital_project.id).nil?
      $('tr[data-project="#{@capital_project.object_key}"]').hide();
    - else
      $('div[data-ali="#{@activity_line_item.object_key}"]').hide();
  - else
    - @activity_line_item.reload
    $('div[data-ali="#{@activity_line_item.object_key}"]').html("<div class='panel-body'>#{raw escape_javascript(render :partial => 'ali', locals: { project: @activity_line_item.capital_project, ali: @activity_line_item })}</div>");

  - @alis_touched.each do |ali|
    :plain
      var ali_box = $('div[data-ali="#{ali.object_key}"]');
      if( ali_box.length ) {
        ali_box.html("<div class='panel-body'>#{raw escape_javascript(render :partial => 'ali', locals: { project: ali.capital_project, ali: ali })}</div>");
      } else if ( $("td##{ali.capital_project.object_key}-#{ali.fy_year}").length ) {
        $("td##{ali.capital_project.object_key}-#{ali.fy_year}").append("#{raw escape_javascript(render :partial => 'ali_render_adaptor', locals: { project: ali.capital_project, ali: ali })}");
      } else {
        var year = parseInt("#{ali.capital_project.fy_year}");
        var type = parseInt("#{ali.capital_project.capital_project_type_id}");
        var temp_type = type;
        var obj_class = "." + year + "-" + type;
        var start_year = parseInt("#{current_planning_year_year}");

        while (($(obj_class).length == 0) && (year >= start_year)) {
          if (temp_type > 1) {
            temp_type = temp_type - 1;
          } else {
            temp_type = type;
            year = year - 1;
          }

          obj_class = "." + year + "-" + type;
        }

        if ($(obj_class).length > 0) {
          $("#{raw escape_javascript(render :partial => 'plan_project_row', locals: { project: ali.capital_project})}").insertAfter($(obj_class).last());
        } else {
          $('#plan-table').append("#{raw escape_javascript(render :partial => 'plan_project_row', locals: { project: ali.capital_project})}");
        }
      }

  configure_event_listeners();


$('#spinner').hide();
$(".modal-backdrop").remove();
- if @message.present?
  transam.show_popup_message("#{@title}", "#{@message}", "#{@alert_class}");
