%ul.nav.nav-tabs
  %li
    %a{:href => "#alloc", :data =>{:toggle => 'tab'}}
      = "Allocations"
  %li
    %a{:href => "#comm", :data =>{:toggle => 'tab'}}
      = "Comments (#{@funding_line_item.comments.count})"

.tab-content
  .tab-pane.fade#alloc
    .tab-content
      = render 'funding_amounts'
  .tab-pane.fade#comm
    .tab-content
      = render 'comments'
