:ruby
  popup ||= '0'

:css
  .popover {
    //width: 500px;
  }
  .modal-lg {
    width: 80%;
  }

.table-responsive
  %table.table.table-condensed.table-hover{:id => "assets-popup-table",
    :data => {:toggle => 'table',
    :classes => 'table-no-bordered',
    :toolbar => "#asset-actions",
    :search => 'false',
    :striped => 'true',
    :single_select => 'false'}}
    %thead
      %tr
        %th.left Tag
        %th.left Description
        %th.center Fuel

        %th.center Age
        %th.center Bcklg
        %th.right Mileage
        %th.center Cond.

        %th.center Policy FY
        %th.right Orig. Cost
        %th.right Book Val.
        %th.right Est. Cost
        - unless ali.rehabilitation_ali?
          %th.right Sch. Cost
        - if popup == '1'
          %th

    %tbody
      - cost = book_value = estimated_cost = scheduled_replacement_cost = 0
      - ali.assets.each do |a|
        - cost += a.cost
        - book_value += a.book_value
        - if ali.rehabilitation_ali?
          - estimated_cost += a.estimated_rehabilitation_cost
        - else
          - estimated_cost += a.estimated_replacement_cost
          - scheduled_replacement_cost += a.scheduled_replacement_cost.to_i

        %tr{:data => {:action_path => inventory_path(a)}}
          %td.left= a.asset_tag
          %td.left= a.description
          %td.center= FuelType.find(a.fuel_type_id).code unless a.fuel_type_id.nil?

          %td.center= a.age
          %td.center= format_as_boolean(a.in_backlog)
          %td.right= format_as_integer(a.reported_mileage)
          %td.center= format_as_decimal(a.reported_condition_rating, 1)

          %td.center= format_as_fiscal_year(a.policy_replacement_year)
          %td.right= format_as_currency(a.cost)
          %td.right= format_as_currency(a.book_value)
          - if ali.rehabilitation_ali?
            %td.right= format_as_currency(a.estimated_rehabilitation_cost)
          - else
            %td.right= format_as_currency(a.estimated_replacement_cost)
            %td.right= format_as_currency(a.scheduled_replacement_cost)
          - if popup == '1'
            %td.center
              %a{:tabindex => 0, :class => 'transam-popover', :data => {:toggle => "popover", :html => 'true', :placement => 'left', :container => 'body', :title => "#{a.name}",  :content => "#{raw render :partial => 'assets/summary', :locals => {:asset => a}}"}}
                %i.fa.fa-info-circle.fa-1-25x.text-info
              - if can? :update, @activity_line_item
                = link_to remove_asset_capital_project_activity_line_item_path(@project, ali, :asset => a.object_key), :method => :delete, :data => {:confirm => "Are you sure? The action cannot be undone!"}  do
                  %i.fa.fa-times-circle.action-icon.text-danger

    %tfoot
      %tr
        %td{:colspan => 8}
        %td.right= format_as_currency(cost)
        %td.right= format_as_currency(book_value)
        %td.right= format_as_currency(estimated_cost)
        - unless ali.rehabilitation_ali?
          %td.right= format_as_currency(scheduled_replacement_cost)


:javascript

  $(document).ready(function() {

    $('#assets-popup-table').bootstrapTable();

    $('.transam-popover').popover({
      trigger: 'hover',
      container: 'body',
      placement: 'left'
    });

  });
