:ruby
  popup ||= '0'

:css
  .popover {
    width: 500px;
  }
  .modal-lg {
    width: 80%;
  }
.table-responsive
  %table.table.table-condensed.table-hover{:id => "assets-popup-table",
    :data => {:toggle => 'table',
    :classes => 'table-no-bordered',
    :search => 'false',
    :striped => 'true',
    :single_select => 'false'}}
    %thead
      %tr
        %th.left Description
        %th.center Fuel

        %th.center Age

        %th.center Policy FY
        %th.right Est. Cost
        - if popup == '1'
          %th

    %tbody
      - estimated_cost = 0
      - cost_date = start_of_fiscal_year(ali.capital_project.fy_year)
      - ali.assets.each do |a|
        - if ali.rehabilitation_ali?
          - asset_cost = ali.rehabilitation_cost a
        - else
          - asset_cost = ali.replacement_cost a

        - estimated_cost += asset_cost

        %tr
          %td.left
            - if ali.rehabilitation_ali?
              = "Rehabilitation for #{a.description} replaced in #{format_as_fiscal_year(a.scheduled_replacement_year)}"
            - else
              = "Replacement for #{a.description} replaced in #{format_as_fiscal_year(a.scheduled_replacement_year)}"

          %td.center= FuelType.find(a.fuel_type_id).code unless a.fuel_type_id.nil?

          %td.center= format_as_integer(a.policy_analyzer.get_min_service_life_months / 12)

          %td.center= format_as_fiscal_year(ali.fy_year)
          %td.right= format_as_currency(asset_cost)
          - if popup == '1'
            %td.center
              %a{:tabindex => 0, :class => 'transam-popover', :id => "#{a.object_key}", :href => get_asset_summary_capital_project_activity_line_item_path(ali.capital_project, ali), :data => {:toggle => "popover", :html => 'true', :placement => 'left', :container => 'body', :title => "#{a.name}",  :content => ""}}
                %i.fa.fa-info-circle.fa-1-25x.text-info

    %tfoot
      %tr
        %td{:colspan => 4}
        %td.right= format_as_currency(estimated_cost)

:javascript

  $(document).ready(function() {

    $('#assets-popup-table').bootstrapTable();

    $('.transam-popover').popover({
      trigger: 'hover',
      container: 'body',
      placement: 'left',
      content: function(){
        var div_id =  $(this).attr('id');
        return details_in_popup($(this).attr('href'), div_id);
      }
    });

  });

  function details_in_popup(link, div_id){
    $.ajax({
      url: link,
      type: 'GET',
      dataType: 'json',
      data: { asset_object_key : div_id },
      complete: function(response, status) {
          $('#popup-'+div_id).html(response.responseText);
      }
    });
    return '<div id="popup-'+ div_id +'">Loading...</div>';
  }
