= simple_form_for([@project, @activity_line_item],
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|

  .row
    .col-sm-6
      = f.input :anticipated_cost, :wrapper=> :vertical_prepend, :label => "Cost Estimate" do
        %span.input-group-addon
          %i.fa.fa-usd
        = f.input_field :anticipated_cost, :class => "form-control"
  .row
    .col-sm-12
      = f.input :cost_justification, :input_html => { :rows => 3 }, :placeholder => "Enter a justification for this cost estimate..."

  = f.submit :class => 'btn btn-primary'
