.row
  = simple_form_for([@project, @activity_line_item],
    :html => {:class => 'form-horizontal' },
    :wrapper => :horizontal_form,
    :wrapper_mappings => {:check_boxes => :horizontal_radio_and_checkboxes, :radio_buttons => :horizontal_radio_and_checkboxes, :file => :horizontal_file_input, :boolean => :horizontal_boolean}) do |f|
    .col-md-8.col-md-offset-2
      = dialog_tag('Activity Line Item', {:icon => 'fa fa-list', :class => "form-part"}) do
        = f.input :name, :placeholder => "Enter a name..."
        = f.association :team_ali_code, :collection => @project.team_ali_code.children, :label_method => 'full_name', :label => 'Sub Category'

    .col-md-8.col-md-offset-2
      = f.button :submit, :class => "btn btn-primary"
      = submit_tag 'Cancel', :name => 'cancel', :class=>"btn btn-warning"
