= simple_form_for([@project, @activity_line_item],
  :html => {:class => 'form-vertical' },
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|

  = dialog_tag('Activity Line Item', {:icon => 'fa fa-list', :class => "form-part"}) do
    = f.input :name, :placeholder => "Enter a name for the ALI..."
    = f.association :team_ali_code, :collection => @project.team_ali_code.children, :label_method => 'full_name', :label => 'Sub Category'
    = f.input :anticipated_cost, :wrapper=> :vertical_prepend, :label => "Cost Estimate" do
      %span.input-group-addon
        %i.fa.fa-usd
      = f.input_field :anticipated_cost, :class => "form-control"
    = f.input :cost_justification, :placeholder => "Enter a justification for the cost..."

    = f.button :submit, :class => "btn btn-primary"
