- if ali.funding_plans.empty?
  %p There are no funding plans for this ALI.
-else
  %table.table.table-hover
    %thead
      %tr
        %th.center        
        %th.center{:colspan => 3} Federal
        %th.center{:colspan => 3} State
        %th.center{:colspan => 3} Local
        %th.center
          
      %tr
        %th Fund
        
        %th.right Amount				
        %th.right Max %             
        %th.right Act %       
        
        %th.right Amount       
        %th.right Rqd %       
        %th.right Act %       
        
        %th.right Amount       
        %th.right Rqd %       
        %th.right Act %       
        
        %th.right Total
            
    %tbody
      - ali.funding_plans.each do |fp|
        %tr
          
          %td.left= fp.budget_amount.funding_source.name
          
          %td.right= format_as_currency(fp.federal_amount)
          %td.right= format_as_percentage(fp.budget_amount.funding_source.federal_match_required, 3)
          %td.right= format_as_percentage(fp.federal_percentage, 3)

          %td.right= format_as_currency(fp.state_amount)
          %td.right= format_as_percentage(fp.budget_amount.funding_source.state_match_required, 3)
          %td.right= format_as_percentage(fp.state_percentage, 3)

          %td.right= format_as_currency(fp.local_amount)
          %td.right= format_as_percentage(fp.budget_amount.funding_source.local_match_required, 3)
          %td.right= format_as_percentage(fp.local_percentage, 3)
          
          %td.right= format_as_currency(fp.amount)

          - unless popup == false
            %td.center
              = link_to capital_project_activity_line_item_funding_request_path(@project, ali, fp), :method => :delete, :data => {:confirm => "Are you sure? The action cannot be undone!"}  do
                %i.fa.fa-times-circle.action-icon.text-danger
