:ruby
  fy_year = @project.fy_year
  fiscal_year = @project.fiscal_year
  org = Organization.get_typed_organization(@project.organization) 
  budgets = org.available_budgets(fy_year)
  federal_budget_remainder = budgets[0]
  state_budget_remainder = budgets[1]
  amount_needed = @activity_line_item.funding_difference >= 0 ? 0 : @activity_line_item.funding_difference * -1

- if @activity_line_item.anticipated_cost == 0
  %p.text-warning
    There is no cost estimate for this ALI for this ALI. Click #{link_to('here', edit_cost_capital_project_activity_line_item_path(@project, @activity_line_item))} to enter the amount needed for the ALI.
- elsif amount_needed == 0
  %p.text-info
    This ALI is fully funded. No more funding requests can be added.
- else
  %p.text-warning
    You need <strong>#{format_as_currency(amount_needed)}</strong> additional funds to program this project.
  - if federal_budget_remainder < 1
    %p.text-danger
      The Federal budget for #{fiscal_year} has been exceeded. No more Federal funding requests can be created.
  - else
    %p.text-info
      You have <strong>#{format_as_currency(federal_budget_remainder)}</strong> remaining in your Federal budget for #{@project.fiscal_year}.
      
  - if state_budget_remainder < 1
    %p.text-danger
      The State budget for #{fiscal_year} has been exceeded. No more State funding requests can be created.
  - else
    %p.text-info
      You have <strong>#{format_as_currency(state_budget_remainder)}</strong> remaining in your State budget for #{@project.fiscal_year}.
