.row
  .col-md-12{:style => 'height:160px;overflow-y:auto;'}
    = render :partial => 'funding_plans_table', :locals => {:ali => @activity_line_item, :popup => true}

.row
  .col-md-12
    %fieldset
      %legend Add Funding Request
      .col-md-12
        = render 'funding_messages'

      - if @activity_line_item.funds_required > 0
        .col-md-8
          = simple_form_for([@project, @activity_line_item, FundingRequest.new],
              :wrapper => :horizontal_form,
              :wrapper_mappings => {:check_boxes => :horizontal_radio_and_checkboxes, :radio_buttons => :horizontal_radio_and_checkboxes, :file => :horizontal_file_input, :boolean => :horizontal_boolean}) do |f|
            .row
              .col-xs-9
                = f.input :federal_funding_line_item_id, :collection => @available_federal_funds, :label => 'Federal Funds'
                
              .col-xs-3
                = f.input :amount, :wrapper=> :horizontal_prepend, :label => false do
                  %span.input-group-addon
                    %i.fa.fa-usd
                  = f.input_field :federal_amount, :class => "form-control", :digits => true, :min => 0, :max => 10000000
        
            .row
              .col-xs-9
                = f.input :state_funding_line_item_id, :collection => @available_state_funds, :label => 'State Funds'
                
              .col-xs-3
                = f.input :amount, :wrapper=> :horizontal_prepend, :label => false do
                  %span.input-group-addon
                    %i.fa.fa-usd
                  = f.input_field :state_amount, :class => "form-control", :digits => true, :min => 0, :max => 10000000

            .row
              .col-xs-9
                = f.input :amount, :wrapper=> :horizontal_prepend, :label => "Local Match" do
                  %span.input-group-addon
                    %i.fa.fa-usd
                  = f.input_field :local_amount, :class => "form-control", :number => true, :min => 0
            .row
              .col-xs-3
                .col-xs-offset-3.col-xs-3
                  = f.submit "Add", :class => 'btn btn-primary', :id => 'submit_button'

        .col-md-4#federal_fund_details

:javascript

  $(document).ready(function() {    
      // Disable the submit button
      //$('#submit_button').attr("disabled", "disabled");
      // Add an event listener on the selector
      $('#funding_request_federal_funding_line_item_id').change(function() {
        var val = $('#funding_request_federal_funding_line_item_id').val();
        var url = '/funding_sources/details/?funding_line_item_id=' + val;
        transam.ajax_render_action(url, 'get');       
        $('#federal_fund_details').html("");
      });
  });
  