- if ali.funding_requests.empty?
  %p There are no funding requests for this ALI.
-else
  %table.table.table-hover
    %thead
      %tr
        %th.center{:colspan => 5} Federal
        %th.center{:colspan => 5} State
        %th.center{:colspan => 2} Local
        %th
          
      %tr
        %th Fund
        %th Authorization
        %th.right Amount				
        %th.right Max %             
        %th.right Act %       
        
        %th Fund
        %th Authorization
        %th.right Amount       
        %th.right Rqd %       
        %th.right Act %       
        
        %th.right Amount       
        %th.right Rqd %       
        %th.right Act %       
        
        %th.right Total
            
    %tbody
      - ali.funding_requests.each do |req|
        %tr
          
          %td.left= req.federal_funding_line_item.funding_source unless req.federal_funding_line_item.nil?
          %td.left= req.federal_funding_line_item          
          %td.right= format_as_currency(req.federal_amount)
          %td.right= format_as_percentage(req.federal_funding_line_item.funding_source.federal_match_required, 3) unless req.federal_funding_line_item.nil?
          %td.right= format_as_percentage(req.federal_percentage, 3)

          %td.left= req.state_funding_line_item.funding_source unless req.state_funding_line_item.nil?
          %td.left= req.state_funding_line_item          
          %td.right= format_as_currency(req.state_amount)
          %td.right= format_as_percentage(req.federal_funding_line_item.funding_source.state_match_required, 3) unless req.federal_funding_line_item.nil?
          %td.right= format_as_percentage(req.state_percentage, 3)

          %td.right= format_as_currency(req.local_amount)
          %td.right= format_as_percentage(req.federal_funding_line_item.funding_source.local_match_required, 3) unless req.federal_funding_line_item.nil?
          %td.right= format_as_percentage(req.local_percentage, 3)
          
          %td.right= format_as_currency(req.total_amount)

          - unless popup == false
            %td.center
              = link_to capital_project_activity_line_item_funding_request_path(@project, ali, req), :method => :delete, :data => {:confirm => "Are you sure? The action cannot be undone!"}  do
                %i.fa.fa-times-circle.action-icon.text-danger
