- if ali.funding_requests.empty?
  %p There are no funding requests for this ALI.
-else
  %table.table.table-hover
    %thead
      %tr
        %th.center{:colspan => 2} Fund
        %th.center{:colspan => 2} Federal
        %th.center{:colspan => 2} State
        %th.center{:colspan => 2} Local
        %th.center

      %tr
        %th Name
        %th Authorization
        
        %th.right Amount				
        %th.right %       
        
        %th.right Amount       
        %th.right %       
        
        %th.right Amount       
        %th.right %       
        
        %th.right Total
            
    %tbody
      - ali.funding_requests.each do |req|
        %tr
          
          %td.left= req.name
          %td.left= req.name
          
          %td.right= format_as_currency(req.federal_match)
          %td.right= format_as_percentage(req.federal_match / req.amount * 100.0) unless req.federal_match == 0

          %td.right= format_as_currency(req.state_match)
          %td.right= format_as_percentage(req.state_match / req.amount * 100.0) unless req.state_match == 0

          %td.right= format_as_currency(req.local_match)
          %td.right= format_as_percentage(req.local_match / req.amount * 100.0) unless req.local_match == 0
          
          %td.right= format_as_currency(req.amount)

          - unless popup == false
            %td.center
              = link_to capital_project_activity_line_item_funding_request_path(@project, ali, req), :method => :delete, :data => {:confirm => "Are you sure? The action cannot be undone!"}  do
                %i.fa.fa-times-circle.action-icon.text-danger

    %tfoot
      %tr
        %td{:colspan => "2"} 
        %td.right= format_as_currency(ali.federal_funds) 
        %td
        %td.right= format_as_currency(ali.state_funds) 
        %td
        %td.right= format_as_currency(ali.local_funds) 
        %td
        %td.right= format_as_currency(ali.total_funds) 
              