.row
  .col-md-12{:style => 'height:200px;overflow-y:auto;'}
    - if @activity_line_item.milestones.empty?
      %p There are no milestones for this activity line item.
    - else
      %table.table.table-condensed.table-striped.table-hover.table-bordered{:width => "100%"}
        %thead
          %tr
            %th Milestone
            %th Est Completion Date
            %th Act Completion Date
            %th Comments
        %tbody
          - @@activity_line_item.milestones.each do |m|
            %tr
              %td= m.milestone
              %td= format_as_date(m.milestone_date)
              %td= format_as_date(m.milestone_date)
              %td= m.comments

.row
  .col-md-12
    = link_to "Update", "#", :class => "btn btn-primary"
  