%tr
  %td.nowrap.col-md-2
    .form-group
      - if i_f.object.milestone_type.name == "Contract Completed"
        %label.required.control-label
          %abbr{title: 'required'} *
          = "#{i_f.object.milestone_type.name}"
      - else
        %label.optional.control-label
          = "#{i_f.object.milestone_type.name}"
    = i_f.input :id, :as => :hidden
    = i_f.input :object_key, :as => :hidden
    = i_f.input :milestone_type_id, :as => :hidden
  %td.col-md-2
    - is_required = i_f.object.milestone_type.name == "Contract Completed"
    = i_f.input :milestone_date, :label => false, :as => :string, :input_html => {:data => {'behavior' => 'datepicker'}, :value => format_as_date(i_f.object.milestone_date || (is_required ? Date.today : nil))}, :required => is_required
  %td.col-md-8
    = i_f.input :comments, :input_html => { :rows => 3 }, :placeholder => "Enter any additional comments...", :label => false