%tr
  %td.nowrap.col-md-2
    .form-group= "#{i_f.object.milestone_type.name}"
    = i_f.input :id, :as => :hidden
    = i_f.input :object_key, :as => :hidden
    = i_f.input :milestone_type_id, :as => :hidden
  %td.col-md-2
    = i_f.input :milestone_date, :label => false, :as => :string, :input_html => {:data => {'behavior' => 'datepicker'}, :value => i_f.object.milestone_date.strftime("%m-%d-%Y")}
  %td.col-md-8
    = i_f.input :comments, :input_html => { :rows => 3 }, :placeholder => "Enter any additional comments...", :label => false
  
