.row
  .col-md-3
    = dialog_tag('Activity Line Item Summary', {:icon => 'fa fa-list', :class => "form-part"}) do
      = render :partial => 'summary', :locals => {:ali => @activity_line_item}

  .col-md-6.col-md-offset-1
    .page-header
      %h2 Update Estimated ALI Cost

    .alert.alert-info
      = render 'anticipated_cost_notes'

    = simple_form_for([@project, @activity_line_item],
      :html => {:class => 'form-vertical' },
      :wrapper => :vertical_form,
      :wrapper_mappings => {}) do |f|

      .row
        .col-md-3
          = f.input :anticipated_cost, :wrapper=> :vertical_prepend, :label => "Cost Estimate" do
            %span.input-group-addon
              %i.fa.fa-usd
            = f.input_field :anticipated_cost, :class => "form-control"
      .row
        .col-md-12
          = f.input :cost_justification, :input_html => { :rows => 3 }, :placeholder => "Enter a justification for this anticipated cost..."

      .form-group
        = f.button :submit, :class => "btn btn-primary"


= render 'scripts'
