.row
  .col-sm-12.col-lg-3
    .panel.panel-default
      .panel-heading
        .row
          .col-sm-10
            %h3.panel-title
              %i.fa.fa-list
              = @activity_line_item
          .col-sm-2
            = render :partial => 'actions', :locals => {:project => @project, :ali => @activity_line_item}
      .panel-body
        = render :partial => 'summary', :locals => {:ali => @activity_line_item}

  .col-sm-12.col-lg-9
    = render 'details'

.modal.fade#form-modal{:tabindex => -1, :role => 'dialog', :aria => {:hidden => true}}

= render 'scripts'
