.row
  .col-md-12{:style => 'height:150px;overflow-y:auto;'}
    - if @project.activity_line_items.empty?
      %p There are no activity line items for this project.
    -else
      %table.table.table-condensed.table-striped.table-hover.table-bordered{:width => "100%"}
        %thead
          %tr
            %th.center{:colspan => 3} Team
            %th.center{:colspan => 2} State
            %th.center{:colspan => 2} Federal
            %th.center{:colspan => 2} Local
            %th
          %tr
            %th Name
            %th.left Sub Category
            %th.right Count
            
            %th.right Amount				
            %th.right %       
            %th.right Amount       
            %th.right %       
            %th.right Amount       
            %th.right %       
            %th.right Total
                
        %tbody
          - @project.activity_line_items.each do |ali|
            %tr{:data => {:action_path => "#{capital_project_activity_line_item_path(@project, ali)}"}}
              
              %td.left= ali.name
              %td.left= ali.team_ali_code
              %td.right= format_as_integer(ali.assets.count)
              
              %td.right= format_as_currency(ali.state_request)
              %td.right= format_as_percentage(ali.state_request / ali.total_estimated_replacement_cost * 100.0)

              %td.right= format_as_currency(ali.federal_request)
              %td.right= format_as_percentage(ali.federal_request / ali.total_estimated_replacement_cost * 100.0)

              %td.right= format_as_currency(ali.local_request)
              %td.right= format_as_percentage(ali.local_request / ali.total_estimated_replacement_cost * 100.0)

              %td.right= format_as_currency(ali.total_estimated_replacement_cost)
              

.row
  .col-md-12
    %fieldset
      %legend Add Activity Line Item
      = simple_form_for([@project, ActivityLineItem.new],
          :wrapper => :vertical_form,
          :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|
        = f.input :name
        = f.association :team_ali_code, :collection => @project.team_ali_code.children, :label_method => 'full_name'        
        = f.submit "Add Line Item", :class => 'btn btn-primary'
