:ruby
  popup ||= '0'

.table-responsive
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th Name
        %th.center FY
        %th.center Sub Category
        %th.right Count
        %th.right Cost
        %th.right Requested

        %th.right Federal
        %th.right %
        %th.right State
        %th.right %
        %th.right Local
        %th.right %
        - if popup
          %th.center

    %tbody
      - sum_assets = 0
      - project.activity_line_items.each do |ali|
        - sum_assets += ali.assets.count
        %tr{:data => {:action_path => "#{capital_project_activity_line_item_path(project, ali)}"}}

          %td.left.nowrap= ali.name
          %td.center.nowrap= format_as_fiscal_year(ali.fy_year)
          %td.center.nowrap= ali.team_ali_code
          %td.right.nowrap= format_as_integer(ali.assets.count)
          %td.right.nowrap= format_as_currency(ali.cost)
          %td.right.nowrap= format_as_currency(ali.total_funds)

          %td.right.nowrap= format_as_currency(ali.federal_funds)
          %td.right.nowrap= format_as_percentage(ali.federal_funds / ali.cost * 100.0) unless ali.federal_funds == 0

          %td.right.nowrap= format_as_currency(ali.state_funds)
          %td.right.nowrap= format_as_percentage(ali.state_funds / ali.cost * 100.0) unless ali.state_funds == 0

          %td.right.nowrap= format_as_currency(ali.local_funds)
          %td.right.nowrap= format_as_percentage(ali.local_funds / ali.cost * 100.0) unless ali.local_funds == 0

          - if popup == '1' and ali.assets.present?
            %td.center
              %a{:tabindex => 0, :class => 'transam-popover', :data => {:toggle => "popover", :html => 'true', :placement => 'left', :container => 'body', :title => "#{ali}: Assets",  :content => "#{raw render :partial => 'activity_line_items/assets_datatable', :locals => {:ali => ali, :popup => '0'}}"}}
                %i.fa.fa-info-circle.text-info.fa-1-25x

    %tfoot
      %tr
        %td{:colspan => 3}
        %td.right.nowrap= format_as_integer(sum_assets)

        %td.right.nowrap= format_as_currency(project.total_cost)
        %td.right.nowrap= format_as_currency(project.total_funds)

        %td.right.nowrap= format_as_currency(project.federal_funds)
        %td
        %td.right.nowrap= format_as_currency(project.state_funds)
        %td
        %td.right.nowrap= format_as_currency(project.local_funds)
        %td
        - if popup
          %td.center

:javascript
  $('.transam-popover').popover({
    trigger: 'hover',
    html: 'true',
    placement: 'left',
    container: 'body'
  });
