= simple_form_for(@builder_proxy,
  :html => {:class => 'form-vertical' },
  :url => runner_capital_projects_path,
  :method => 'post',
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|
  .col-md-8.col-md-offset-2
    = f.input :asset_type_id, :collection => AssetType.all, :prompt => 'Select type of assets to process...'
    = f.input :project_type,  :collection => ['Replacement', 'Rehabilitation', 'Both'], :as => :radio_buttons
    = f.submit "Start...", :class => "btn btn-primary", :id => "submit_button"
    = submit_tag 'Cancel', :name => 'cancel', :class=>"btn btn-warning"

:javascript

  // Document Ready
  $(document).ready(function(){

    // Disable the submit button until everything is set
    $('#submit_button').attr("disabled", "disabled");
    $('#builder_proxy_asset_type_id').change(function() {
      var val = $(this).val();
      if (val) {
        $('#submit_button').removeAttr("disabled");
      } else {
        $('#submit_button').attr("disabled", "disabled");
      }
    });
  });

