= simple_form_for(@builder_proxy,
  :html => {:class => 'form-vertical'},
  :url => runner_capital_projects_path,
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
  :radio_buttons => :vertical_radio_and_checkboxes,
  :file => :vertical_file_input,
  :boolean => :vertical_boolean}) do |f|

  - if @organization_list.count > 1
    .row
      .col-md-12
        = f.input :organization_id,   :collection => Organization.where(id: @organization_list)
  .row
    .col-md-6
      = f.input :asset_types,   :collection => @asset_types, :multiple => true, :as => :check_boxes
    .col-md-6
      = f.input :start_fy,      :collection => @fiscal_years, :include_blank => false, :label => "Starting Fiscal Year"

  - if @organization.capital_projects.sogr.count > 0
    .row
      .col-md-12
        = render 'builder_warning'

  = f.submit "Run analyzer...", :class => "btn btn-primary", :id => "submit_button"
