.row
  .col-md-12
    - if @project.comments.empty?
      %p There are no comments for this project.
      = link_to "Add a comment", "#", :class => "btn btn-primary"
    - else
      %ul.media.list
        - @project.notes.comments do |c|
          .media
            .pull-left
              %i.fa.fa-comment.fa-2x
            .media-body
              %h4.media-heading
                = #{c.created_by.name} at #{format_as_date_time(c.created_at)}
              = c.comment.html_safe
      