- alis = @alis.where(capital_project_id: @project.id)
%ul.nav.nav-tabs
  %li
    %a{:href => "#note", :data =>{:toggle => 'tab'}}
      = "Description "
  %li
    %a{:href => "#alis", :data =>{:toggle => 'tab'}}
      %span{:style => 'white-space: nowrap !important;'}
        = "Activity Line Items "
        %span.badge= alis.count
  -# %li
  -#   %a{:href => "#hist", :data =>{:toggle => 'tab'}}
  -#     %span.badge.pull-right= @project.history.count
  -#     = "History "
  %li
    %a{:href => "#docs", :data =>{:toggle => 'tab'}}
      %span{:style => 'white-space: nowrap !important;'}
        = "Supporting Documents "
        %span.badge= @project.documents.count
  %li
    %a{:href => "#comm", :data =>{:toggle => 'tab'}}
      %span{:style => 'white-space: nowrap !important;'}
        = "Comments "
        %span.badge= @project.comments.count

.tab-content
  .tab-pane.fade#note
    .tab-content
      = render 'description'
  .tab-pane.fade#alis
    .tab-content
      = render partial: 'activity_line_items', locals: {alis: alis}
  -# .tab-pane.fade#hist
  -#   .tab-content
  -#     = render 'history_table'
  .tab-pane.fade#docs
    .tab-content
      = render 'documents'
  .tab-pane.fade#comm
    .tab-content
      = render 'comments'
