- alis = @alis.where(capital_project_id: @project.id)
%ul.nav.nav-tabs
  %li
    %a{:href => "#note", :data =>{:toggle => 'tab'}}
      = "Description "
  = nav_tab_count_tag("#alis", "Activity Line Items", alis.count)
  -# %li
  -#   %a{:href => "#hist", :data =>{:toggle => 'tab'}}
  -#     %span.badge.pull-right= @project.history.count
  -#     = "History "
  = nav_tab_count_tag("#docs", "Supporting Documents ", @project.documents.count)
  = nav_tab_count_tag("#comm", "Comments ", @project.comments.count)

.tab-content
  .tab-pane.fade#note
    .tab-content
      = render 'description'
  .tab-pane.fade#alis
    .tab-content
      = render partial: 'activity_line_items', locals: {alis: alis}
  -# .tab-pane.fade#hist
  -#   .tab-content
  -#     = render 'history_table'
  .tab-pane.fade#docs
    .tab-content
      = render 'documents'
  .tab-pane.fade#comm
    .tab-content
      = render 'comments'
