- is_in_modal ||= 1

= simple_form_for(@project,
  :html => {:class => 'form-vertical', :id => 'capital_project_form'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
  :radio_buttons => :vertical_radio_and_checkboxes,
  :file => :vertical_file_input,
  :boolean => :vertical_boolean}) do |f|

  - if @project.new_record? && @organization_list.count > 1
    .row
      .col-md-8
        = f.input :organization_id, :required => true, :collection => Organization.where(id: @organization_list), :label_method => 'coded_name'

  .row
    .col-md-8
      = f.input :title, :placeholder => "Enter a title for this project...", :required => true, :wrapper_html => {:class => 'text-limiter-wrapper'}, :input_html => {:class => 'text-limiter', :maxlength => 64}
      %p.text-muted.text-limiter-counter
        %span#title-counter
        characters remaining.

  .row
    .col-md-8
      - if @project.new_record?
        - if @organization_list.count > 1
          = f.association :districts, :collection => District.active, :label_method => :to_s, :include_blank => false, :label => 'Project District'
        - else
          = f.association :districts, :collection => TransitOperator.find_by(id: @organization_list).districts, :label_method => :to_s, :include_blank => false, :label => 'Project District'
      - else
        = f.association :districts, :collection => TransitOperator.find_by(id: @project.organization_id).districts, :include_blank => false, :label => 'Project District'

  - unless @project.sogr?
    .row
      .col-md-4
        = f.input :fy_year, :collection => @fiscal_years, :include_blank => false, :label => "Fiscal Year"
      .col-md-4
        = f.association :team_ali_code, :disabled => !@project.new_record?, :collection => TeamAliCode.categories, :label_method => 'full_name', :label => 'Scope'
    .row
      .col-md-4
        = f.association :capital_project_type, :collection => CapitalProjectType.active, :include_blank => false, :label => 'Project Type'
      .col-md-4
        = f.input :emergency, :as => :boolean, :label => 'Emergency project'
      .col-md-4
        = f.input :multi_year, :as => :boolean, :label => 'Multi year project'

  = f.input :description, :as => :text, :required => true, :wrapper_html => {:class => 'text-limiter-wrapper'}, :input_html => {:class => 'text-limiter', :rows => 4, :maxlength => 254}
  %p.text-muted.text-limiter-counter
    %span#description-counter
    characters remaining.

  = f.input :justification, :as => :text, :required => true, :wrapper_html => {:class => 'text-limiter-wrapper'}, :input_html => {:class => 'text-limiter', :rows => 4, :maxlength => 254}
  %p.text-muted.text-limiter-counter
    %span#justification-counter
    characters remaining.

  = f.button :submit, :class => "btn btn-primary"
  - if is_in_modal == 1
    %button.btn.btn-default{:data => {:dismiss => "modal"}} Cancel

:javascript

  $('#capital_project_form').validate({
    submitHandler: function(form){
      form.submit();
    }
  });

  $('#capital_project_title').simplyCountable({
    counter: '#title-counter',
    maxCount: $('#capital_project_title').attr('maxlength'),
    strictMax: false,
    safeClass: 'text-muted',
    overClass: 'text-danger'
  });

  $('#capital_project_description').simplyCountable({
    counter: '#description-counter',
    maxCount: $('#capital_project_description').attr('maxlength'),
    strictMax: false,
    safeClass: 'text-muted',
    overClass: 'text-danger'
  });

  $('#capital_project_justification').simplyCountable({
    counter: '#justification-counter',
    maxCount: $('#capital_project_justification').attr('maxlength'),
    strictMax: false,
    safeClass: 'text-muted',
    overClass: 'text-danger'
  });

  var org_id = 0;
    //-#var asset_types = JSON.parse('#{@asset_types.to_json}');
    //-#var current_planning_year = #{current_planning_year_year};
    //-#var has_sogr_project_org_list = #{ (@has_sogr_project_org_list || {}).to_json.html_safe };

  // Detect changes in the org selected
  $('#capital_project_organization_id').on('change', function(event) {
    var id = $(this).val();
    var url = '#{find_districts_capital_projects_path}';

  $('#capital_project_district_ids').empty();
    if (id != "") {
      $.ajax({
      type: 'GET',
      url: url,
      data: {district_desired_org_id: id},
      success: function(result){
        //console.log(result);
        for(i = 0;i<result.length;i++){
          //add an option for each organizations available to the tempalte
          $("#capital_project_district_ids").append(
              $("<option></option>").attr("value", result[i][0]).text(result[i][1])
          );
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert("We are sorry but something went wrong. " + xhr.status + " " + thrownError);
        }
      });
    }

  });
