.row
  = simple_form_for(@project,
    :html => {:class => 'form-horizontal' },
    :wrapper => :horizontal_form,
    :wrapper_mappings => {:check_boxes => :horizontal_radio_and_checkboxes, :radio_buttons => :horizontal_radio_and_checkboxes, :file => :horizontal_file_input, :boolean => :horizontal_boolean}) do |f|
    .col-md-6
      = dialog_tag('Project Details', {:icon => 'fa fa-book', :class => "form_part"}) do
        = f.input :title, :placeholder => "Enter a title for this project..."
        = f.association :team_scope_code, :label => 'Scope'
        = f.association :team_category, :label => 'Category'
        = f.input :emergency, :as => :radio_buttons
    
    .col-md-6
      = dialog_tag('Project Description', {:icon => 'fa fa-book', :class => "form_part"}) do
        = f.input :description, :placeholder => "Enter a description for this project..."
        = f.input :justification, :placeholder => "Enter a justification for this project..."
        
    .col-md-12
      = f.button :submit, :class => "btn btn-primary"
      = submit_tag 'Cancel', :name => 'cancel', :class=>"btn btn-warning"
