= simple_form_for(@project,
  :html => {:class => 'form-vertical'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
  :radio_buttons => :vertical_radio_and_checkboxes,
  :file => :vertical_file_input,
  :boolean => :vertical_boolean}) do |f|


  .row
    .col-md-8
      = f.input :title, :placeholder => "Enter a title for this project..."

  - unless @project.sogr?
    .row
      .col-md-4
        = f.input :fy_year, :collection => @fiscal_years, :include_blank => false, :label => "Fiscal Year"
      .col-md-4
        = f.association :team_ali_code, :collection => TeamAliCode.categories, :label_method => 'full_name', :label => 'Scope'
      .col-md-4
        = f.association :capital_project_type, :collection => CapitalProjectType.active, :include_blank => false, :label => 'Project Type'

    .row
      .col-md-4
        = f.input :emergency, :as => :boolean, :label => 'Emergency project'
      .col-md-4
        = f.input :multi_year, :as => :boolean, :label => 'Multi year project'

  = f.input :description, :as => :text, :input_html => { :rows => 3 }, :placeholder => "Enter a description for this project..."
  = f.input :justification, :as => :text, :input_html => { :rows => 3 }, :placeholder => "Enter a justification for this project..."

  = f.button :submit, :class => "btn btn-primary"
  = link_to "Cancel", :back, {:id => 'cancel-button', :class => "btn btn-default"}

:javascript

  // Document Ready
  $(document).ready(function(){
    transam.make_same_height('.header-part');
  });
