%table.table.table-hover#datatable
  %thead
    %tr
      - if @organization_list.count > 1
        %th.left Agency
      %th.center FY
      %th.left Project
      %th.center Scope

      %th.center Type
      %th.left Title
      %th.center Status
      %th.right Cost

      %th.right State
      %th.right Federal
      %th.right Local
      %th.right Total

      %th.center

  %tbody
    - total_cost = 0
    - total_state = 0
    - total_federal = 0
    - total_local = 0
    - total_total = 0

    - @projects.each do |p|
      - total_cost += p.total_cost
      - total_state += p.state_funds
      - total_federal += p.federal_funds
      - total_local += p.local_funds
      - total_total += p.total_funds

      %tr.popup-details{:data => {:action_path => capital_project_path(p)}}
        - if @organization_list.count > 1
          %td= p.organization
        %td.center= p.fiscal_year
        %td= p.project_number
        %td.center= p.team_ali_code.scope
        %td.center= p.capital_project_type.code

        %td= p.title
        %td.center= p.state.humanize

        %td.right= format_as_currency(p.total_cost)

        %td.right= format_as_currency(p.state_funds)
        %td.right= format_as_currency(p.federal_funds)
        %td.right= format_as_currency(p.local_funds)
        %td.right= format_as_currency(p.total_funds)

        %td.center
          %i.fa.fa-info-circle.text-info.popup-details{:data => {:title => "#{p.project_number}: Activity Line Items", :content => "#{raw render :partial => 'capital_projects/activity_line_items_table', :locals => {:project => p, :popup => false}}"}}

  %tfoot
    %tr
      - if @organization_list.count > 1
        %td{:colspan => 7}
      - else
        %td{:colspan => 6}

      %td.right= format_as_currency(total_cost)
      %td.right= format_as_currency(total_state)
      %td.right= format_as_currency(total_federal)
      %td.right= format_as_currency(total_local)
      %td.right= format_as_currency(total_total)

= render 'shared/datatable_javascript'

:javascript
  $('.popup-details').popover({
    trigger: 'hover',
    container: 'body',
    placement: 'left',
    animation: 'true',
    html: 'true'
  });
