%table.table.table-condensed.table-striped.table-hover.table-bordered#datatable{:width => "100%"}
  %thead
    %tr
      %th Agency
      %th FY
      %th Project
      %th Scope
      %th Title				
      %th Status				
      %th Created
      %th Last Updated
  %tbody
    - @projects.each do |p|
      %tr{:data => {:action_path => "#{capital_project_path(p)}"}}
        %td= p.organization
        %td= p.fiscal_year
        %td= p.project_number
        %td= p.team_ali_code
        %td= p.title
        %td= p.capital_project_status_type
        %td= format_as_date_time(p.created_at)
        %td= format_as_date_time(p.updated_at)

= render 'shared/datatable_javascript'
