:ruby
  table_dom_id = SecureRandom.hex

%table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
  :pagination => 'true',
  :show_pagination_switch => 'true',
  :page_list => "[5, 10, 20, 50, 100, 200]",
  :page_size => current_user.num_table_rows,
  :search => 'false',
  :toolbar => "#table_actions",
  :export_types => "['csv', 'txt', 'excel']",
  :show_export => 'true',
  :show_columns => 'true',
  :show_footer => true,
  :show_toggle => 'true'}}
  %thead
    %tr
      - if @organization_list.count > 1
        %th.left Agency
      %th.center FY
      %th.left Project
      %th.center Scope
      %th.center Emgcy
      %th.center SOGR
      %th.center Shadow
      %th.center Multi Year

      %th.center Type
      %th.left Title
      -#%th.center Status
      %th.right Cost

      %th.right State
      %th.right Federal
      %th.right Local
      %th.right Total

      %th.center

  %tbody
    - total_cost = 0
    - total_state = 0
    - total_federal = 0
    - total_local = 0
    - total_total = 0
    - has_early_replacement_assets = false

    - @projects.each do |p|
      - total_cost += p.total_cost
      - total_state += p.state_funds
      - total_federal += p.federal_funds
      - total_local += p.local_funds
      - total_total += p.total_funds

      - project_has_early_replacement_assets = p.has_early_replacement_assets?
      - has_early_replacement_assets = true if project_has_early_replacement_assets

      %tr{:id => p.object_key, :class => 'action-path'}
        - if @organization_list.count > 1
          %td= p.organization
        %td.center.nowrap= format_as_fiscal_year(p.fy_year)
        %td.left.nowrap= p.project_number
        %td.center.nowrap= p.team_ali_code.scope
        %td.center= format_as_boolean(p.emergency?)
        %td.center= format_as_boolean(p.sogr?)
        %td.center= format_as_boolean(p.notional?)
        %td.center= format_as_boolean(p.multi_year?)
        %td.center= p.capital_project_type.code

        %td= p.title
        -#%td.center= p.state.humanize

        %td.right.nowrap= format_as_currency(p.total_cost)

        %td.right.nowrap= format_as_currency(p.state_funds)
        %td.right.nowrap= format_as_currency(p.federal_funds)
        %td.right.nowrap= format_as_currency(p.local_funds)
        %td.right.nowrap= format_as_currency(p.total_funds)

        %td.center.project-icon-column
          %a{:tabindex => 0, :class => 'transam-popover', :data => {:toggle => "popover", :html => 'true', :placement => 'left', :container => 'body', :title => "#{p.project_number}: Activity Line Items",  :content => "#{raw render :partial => 'capital_projects/activity_line_items_table', :locals => {:project => p, :popup => '0'}}"}}
            %i.fa.fa-info-circle.fa-1-25x.text-info
          - if project_has_early_replacement_assets
            %a{:tabindex => 0, :class => 'transam-tooltip', :data => {:toggle => "tooltip", :placement => 'left', :title => "Contains early replacement assets"}}
              %i.fa.fa-exclamation-triangle{style: 'color: red !important;'}

  %tfoot
    %tr
      - if @organization_list.count > 1
        %td{:colspan => 10}
      - else
        %td{:colspan => 9}

      %td.right.nowrap= format_as_currency(total_cost)
      %td.right.nowrap= format_as_currency(total_state)
      %td.right.nowrap= format_as_currency(total_federal)
      %td.right.nowrap= format_as_currency(total_local)
      %td.right.nowrap= format_as_currency(total_total)
      %td.center

= render :partial => 'shared/table_scripts', :locals => {:table_id => table_dom_id, :path_pattern => capital_project_path("xxx")}

:javascript

  $('#' + '#{table_dom_id}').on('post-body.bs.table', function () {
    $('.transam-popover').popover({
      trigger: 'hover'
    });

    $('.transam-tooltip').tooltip();

    if(#{has_early_replacement_assets}) {
      $('.project-icon-column').width(40);
    }
  });


