:css
 #capital_projects_table_div .fixed-table-footer {
     border-top: none;
 }

 #capital_projects_table_div .bootstrap-table .fixed-table-footer tbody>tr>td {
     padding: 0 !important;
     border: none;
 }

 .bs-bars.pull-left {
   float: none !important;
   display: inline-block;
   width: 91%;
 }

#projects_table_actions.row
  - if can? :create, CapitalProject
    = link_to new_capital_project_path, :class => 'btn btn-default', :style => 'margin-left: 5px;' do
      %i.fa.fa-plus.fa-fw
      = " New Capital Project"
  .navbar-form.pull-right{:style => 'margin-top: 0px;'}
    %button.btn.btn-primary.btn-md.dropdown-toggle{:data => {:toggle => 'dropdown'}, :style => 'vertical-align: top;'}
      %i.fa.fa-file
      = " Export"
      %span.caret
    %ul.dropdown-menu{:role => 'menu', :style => 'padding-top: 0px;'}
      %li{:style => "background-color: #f5f5f5; padding-left: 20px;  border-bottom: 1px solid black;"}
        Export Projects
      -#%li
      -#  = link_to 'CSV', current_url(format: :csv), target: '_blank', title: 'Export all rows and columns to CSV'
      -#%li
      -#  = link_to 'TXT', current_url(format: :txt), target: '_blank', title: 'Export all rows and columns to TXT'
      %li{:style => 'border-bottom: 1px solid black;'}
        = link_to 'XLSX', current_url(format: :xlsx), target: '_blank', title: 'Export all rows and columns to XLSX'
      %li{:style => "background-color: #f5f5f5; padding-left: 20px; padding-right: 20px; border-bottom: 1px solid black; border-top: 1px solid black"}
        Export Activity Line Items
      -#%li
      -#  = link_to 'CSV', current_url(format: :csv), target: '_blank', title: 'Export all rows and columns to CSV'
      -#%li
      -#  = link_to 'TXT', current_url(format: :txt), target: '_blank', title: 'Export all rows and columns to TXT'
      %li
        = link_to 'XLSX', {controller: 'capital_projects', action: 'activity_line_items', format: :xlsx}, target: '_blank', title: 'Export all rows and columns to XLSX'


:ruby
  table_dom_id = SecureRandom.hex
  show_actions ||= 0


= javascript_include_tag  "https://kit.fontawesome.com/#{ENV['FONT_AWESOME']}.js"
.library-table
  %table.elbat{:id => table_dom_id,
  :use => 'true',
  :data => {:use => 'true',
    :table_code => 'projects',
    :side => 'server',
    :current_page => '0',
    :current_page_size => '10',
    :page_sizes => "10,20,50,100",
    :search => 'server',
    :export => "['csv', 'txt', 'excel']",
    :columns => '{"0":{"name":"Project ID","type":"drilldown-link"},
                  "1":{"name":"Organization"},
                  "2":{"name":"Year"},
                  "3":{"name":"Title"},
                  "4":{"name":"Scope"},
                  "5":{"name":"Project Type"},
                  "6":{"name":"SOGR","type":"checkmark-column"},
                  "7":{"name":"Shadow","type":"checkmark-column"},
                  "8":{"name":"Multi-Year","type":"checkmark-column"},
                  "9":{"name":"Emergency Project","type":"checkmark-column"},
                  "10":{"name":"ALI"},
                  "11":{"name":"Requested"},
                  "12":{"name":"Allocated"}}',
    :selected_columns => "0,1,2,3,4,5,6,7,8,9,10,11,12",
    :cookies => 'true',
    :sort => 'server',
    :sort_params => '',
    :url => table_capital_projects_path(:format => :json) }}

:javascript
  window["#{table_dom_id}"].apply_styles = function(){
    $("##{table_dom_id} .checkmark-column .cell-text:contains('true')").each(function(){
      if($(this).children().length === 0) {
        $(this).text("").append($("<i id='checkmark' class='fa fa-check text-default'></i>"));
      }
    $("##{table_dom_id} .checkmark-column .cell-text:contains('false')").hide();
    });
  }


-##projects_table_actions.row
-#  - if can? :create, CapitalProject
-#    = link_to new_capital_project_path, :class => 'btn btn-default', :style => 'margin-left: 5px;' do
-#      %i.fa.fa-plus.fa-fw
-#      = " New Capital Project"
-#  .navbar-form.pull-right{:style => 'margin-top: 0px;'}
-#    %button.btn.btn-primary.btn-md.dropdown-toggle{:data => {:toggle => 'dropdown'}, :style => 'vertical-align: top;'}
-#      %i.fa.fa-file
-#      = " Export"
-#      %span.caret
-#    %ul.dropdown-menu{:role => 'menu', :style => 'padding-top: 0px;'}
-#      %li{:style => "background-color: #f5f5f5; padding-left: 20px;  border-bottom: 1px solid black;"}
-#        Export Projects
-#      -#%li
-#      -#  = link_to 'CSV', current_url(format: :csv), target: '_blank', title: 'Export all rows and columns to CSV'
-#      -#%li
-#      -#  = link_to 'TXT', current_url(format: :txt), target: '_blank', title: 'Export all rows and columns to TXT'
-#      %li{:style => 'border-bottom: 1px solid black;'}
-#        = link_to 'XLSX', current_url(format: :xlsx), target: '_blank', title: 'Export all rows and columns to XLSX'
-#      %li{:style => "background-color: #f5f5f5; padding-left: 20px; padding-right: 20px; border-bottom: 1px solid black; border-top: 1px solid black"}
-#        Export Activity Line Items
-#      -#%li
-#      -#  = link_to 'CSV', current_url(format: :csv), target: '_blank', title: 'Export all rows and columns to CSV'
-#      -#%li
-#      -#  = link_to 'TXT', current_url(format: :txt), target: '_blank', title: 'Export all rows and columns to TXT'
-#      %li
-#        = link_to 'XLSX', {controller: 'capital_projects', action: 'activity_line_items', format: :xlsx}, target: '_blank', title: 'Export all rows and columns to XLSX'
-#
-##capital_projects_table_div.table-responsive
-#  %table.table.table-condensed.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
-#    :url => capital_projects_path(format: :json),
-#    :card_view => "false",
-#    :pagination => 'true',
-#    :side_pagination => 'server',
-#    :show_pagination_switch => 'false',
-#    :page_number => '1',
-#    :page_list => "5, 10, 20, 50, 100, 200, 10000]",
-#    :page_size => current_user.num_table_rows,
-#    :search => 'false',
-#    :show_columns => 'true',
-#    :toolbar => "#projects_table_actions",
-#    :row_style => 'row_style',
-#    :click_to_select => 'true',
-#    :query_params => "query_params",
-#    :show_export => 'true',
-#    :id_field => 'object_key',
-#    :export_types => "['csv', 'txt', 'excel']",
-#    :cookie => 'true',
-#    :cookie_id_table => "capital_projects_id",
-#    :cookie_expire => "1y",
-#    :single_select => 'true',
-#    :show_footer => 'true'}}
-#    %thead
-#      %tr
-#        - if @organization_list.count > 1
-#          %th.left{data: {field: 'agency', visible: "#{@organization_list.count > 1}"}} Agency
-#        %th.center.nowrap{data: {field: 'fy_year'}} #{get_fy_label}
-#        %th.left.nowrap{data: {field: 'project_number'}} Project
-#        %th.center.nowrap{data: {field: 'scope'}} Scope
-#        %th.center{data: {field: 'is_emergency', formatter: 'raw_boolean_formatter'}} Emgcy
-#        %th.center{data: {field: 'is_sogr', formatter: 'raw_boolean_formatter'}} SOGR
-#        %th.center{data: {field: 'is_notional', formatter: 'raw_boolean_formatter'}} Shadow
-#        %th.center{data: {field: 'is_multi_year', formatter: 'raw_boolean_formatter'}} Multi Year
-#
-#        %th.center{data: {field: 'type'}} Type
-#        %th.left{data: {field: 'title'}} Title
-#        -#%th.center Status
-#        %th{data: {field: 'total_cost', formatter: 'currency_formatter', footer_formatter: 'total_cost_formatter', align: 'right'}} Cost
-#
-#        -#%th.center.project-icon-column{data: {field: 'popup_content', formatter: 'popup_formatter'}}
-#        %th.center.project-icon-column{data: {field: 'has_early_replacement_assets', formatter: 'early_replacement_flag_formatter'}}

= render 'shared/table_formatters'



