.row
  .col-md-12
    %nav.navbar.navbar-default{:role => 'navigation'}
      .container-fluid
        %ul.nav.navbar-nav
          %li{:class => "#{get_nav_link_class('capital_projects', CapitalProjectsController::SESSION_VIEW_TYPE_VAR, CapitalProjectsController::VIEW_TYPE_LIST)}"}
            = link_to capital_projects_path(:view_type => CapitalProjectsController::VIEW_TYPE_LIST) do
              %i.fa.fa-th-large= " List View"
        
          %li{:class => "#{get_nav_link_class('capital_projects', CapitalProjectsController::SESSION_VIEW_TYPE_VAR, CapitalProjectsController::VIEW_TYPE_TABLE)}"}
            = link_to capital_projects_path(:view_type => CapitalProjectsController::VIEW_TYPE_TABLE) do
              %i.fa.fa-list-alt= " Table View"
        
          - if can? :create, @project
            = sub_nav_elem_tag do
              = link_to new_capital_project_path do
                %i.fa.fa-plus= " Create New"

        = form_tag capital_projects_path, :id => 'filter_form', :method => "get", :class => 'navbar-form navbar-right' do
          .form-group
            %label Fiscal Year
            = select_tag(:fiscal_year, options_for_select(@fiscal_years, :selected => @fiscal_year), :class => "form-control", :style => "width: 100px;", :prompt => "Any...")
          .form-group
            %label Scope
            = select_tag(:team_ali_code_id, options_for_select(TeamAliCode.bus_categories.collect{|a| [a.full_name, a.id]}, :selected => @team_ali_code_id), :class => "form-control", :style => "width: 200px;", :prompt => "Any...")
          .form-group
            %label Status
            = select_tag(:status_type_id, options_for_select(CapitalProjectStatusType.all.collect{|a| [a.name, a.id]}, :selected => @status_type_id), :class => "form-control", :style => "width: 100px;", :prompt => "Any...")
          = button_tag :class => "btn btn-primary", :type => "submit", :id => "submit_button" do
            %i.fa.fa-filter= " Filter"
              
