= sub_nav_tag({}) do
  %li{:class => "#{get_nav_link_class('capital_projects', CapitalProjectsController::SESSION_VIEW_TYPE_VAR, CapitalProjectsController::VIEW_TYPE_LIST)}"}
    = link_to capital_projects_path(:view_type => CapitalProjectsController::VIEW_TYPE_LIST) do
      %i.fa.fa-th-large= " List View"

  %li{:class => "#{get_nav_link_class('capital_projects', CapitalProjectsController::SESSION_VIEW_TYPE_VAR, CapitalProjectsController::VIEW_TYPE_TABLE)}"}
    = link_to capital_projects_path(:view_type => CapitalProjectsController::VIEW_TYPE_TABLE) do
      %i.fa.fa-list-alt= " Table View"

  - if can? :create, @project
    = sub_nav_elem_tag do
      = link_to new_capital_project_path do
        %i.fa.fa-plus= " Create New"
