.hidden-md.hidden-sm.hidden-xs
  = format_field("Project Number", @project.project_number)
  = format_field(get_fiscal_year_label, @project.fiscal_year)
  = format_field("Scope", @project.team_ali_code.scope)
  = format_field("Total Cost", format_as_currency(@project.total_cost))

  %hr

  = format_field("Type", @project.capital_project_type)
  = format_field("SOGR", format_as_yes_no(@project.sogr?))
  = format_field("Shadow", format_as_yes_no(@project.notional?))
  = format_field("Multi year", format_as_yes_no(@project.multi_year?))
  = format_field("Emergency", format_as_yes_no(@project.emergency))
  -#= format_field("Status", format_as_label(@project.state.humanize, 'primary'))

.hidden-lg
  .col-sm-4
    = format_field("Project Number", @project.project_number)
    = format_field(get_fiscal_year_label, @project.fiscal_year)
    = format_field("Scope", @project.team_ali_code.scope)
    = format_field("Total Cost", format_as_currency(@project.total_cost))
  .col-sm-4
    = format_field("Type", @project.capital_project_type)
    = format_field("SOGR", format_as_yes_no(@project.sogr?))
    = format_field("Shadow", format_as_yes_no(@project.notional?))
    = format_field("Multi year", format_as_yes_no(@project.multi_year?))
    = format_field("Emergency", format_as_yes_no(@project.emergency))
    -#= format_field("Status", format_as_label(@project.state.humanize, 'primary'))
