= render 'user_activity_line_item_filters/form_panel'

.row
  .col-sm-12
    .page-header
      %h2 Capital Projects

.row
  .col-sm-12
    %ul.nav.nav-tabs
      %li
        %a{:href => "#summary", :data =>{:toggle => 'tab'}}
          = "Plan Summary"
      %li
        %a{:href => "#chart", :data =>{:toggle => 'tab'}}
          = "Capital Needs Chart"
    .tab-content{:style => 'min-height: 0;'}
      .tab-pane.fade#chart
        .row
          .col-sm-12
            .chart{:id => "chart_#{@report.id}"}
      .tab-pane.fade#summary
        .row
          .col-sm-12
            = render 'capital_plan_summary'

    .col-sm-12
      - if @projects.empty?
        %p No matching capital projects found
      - else
        = render 'index_table'

= render 'index_scripts'
