.row
  .col-sm-12.col-lg-3
    .panel.panel-default
      .panel-heading
        .row
          .col-sm-10
            %h3.panel-title
              %i.fa.fa-cube
              = @project.title
          .col-sm-2
            = render 'actions'
      .panel-body
        = render 'summary'

  .col-sm-12.col-lg-9
    = render 'details'

= render 'scripts'
