= render 'detail_subnav'

.row
  .col-md-4
    = dialog_tag('Project', {:icon => 'fa fa-book', :class => "header_part"}) do
      %fieldset
        %legend.panel-legend Details
        = format_field("Fiscal Year", @project.fiscal_year)
        = format_field("Scope", @project.team_ali_code)
        = format_field("Title", @project.title)
        = format_field("Emergency", format_as_boolean(@project.emergency)) unless @project.emergency == false
        = format_field("Status", @project.capital_project_status_type)
      %fieldset
        %legend.panel-legend Requests
        = format_field("State", format_as_currency(@project.state_request))
        = format_field("Federal", format_as_currency(@project.federal_request))
        = format_field("Local", format_as_currency(@project.local_request))
        = format_field("Total", format_as_currency(@project.total_request))

      %fieldset
        %legend.panel-legend Description
        %p= @project.description

      %fieldset
        %legend.panel-legend Justification
        %p= @project.justification

  .col-md-8
    = dialog_tag('Details', {:icon => 'fa fa-book', :class => "header_part"}) do
      %ul.nav.nav-tabs
        %li
          %a{:href => "#alis", :data =>{:toggle => 'tab'}}
            = "Activity Line Items (#{@project.activity_line_items.count})"
        %li
          %a{:href => "#mpms", :data =>{:toggle => 'tab'}}
            = "MPMS Projects (#{@project.mpms_projects.count})"
        %li
          %a{:href => "#comm", :data =>{:toggle => 'tab'}}
            = "Comments (#{@project.comments.count})"
        %li
          %a{:href => "#docs", :data =>{:toggle => 'tab'}}
            = "Supporting Documents (#{@project.documents.count})"

      .tab-content
        .tab-pane.fade#alis
          .tab-content
            = render 'activity_line_items_table'
        .tab-pane.fade#mpms
          .tab-content
            = render 'mpms_projects_table'
        .tab-pane.fade#comm
          .tab-content
            = render 'comments'
        .tab-pane.fade#docs
          .tab-content
            = render 'documents'

= render 'scripts'
