= render 'detail_subnav'

.row
  .col-md-4
    = dialog_tag('Project', {:icon => 'fa fa-book', :class => "header_part"}) do
      = format_field("Status", @project.capital_project_status_type)
      = format_field("Title", @project.title)
      = format_field("Scope", @project.team_scope_code)
      = format_field("Category", @project.team_category.name)
      = format_field("Emergency", format_as_boolean(@project.emergency))

      = format_field("Description", @project.description)

      = format_field("", "")

      = format_field("Created", format_as_date(@project.created_at))
      = format_field("Updated", format_as_date_time(@project.updated_at))
  .col-md-8
    = dialog_tag('Details', {:icon => 'fa fa-book', :class => "header_part"}) do
      %ul.nav.nav-tabs
        %li
          %a{:href => "#cash", :data =>{:toggle => 'tab'}}
            Cash Flow
        %li
          %a{:href => "#just", :data =>{:toggle => 'tab'}}
            Justification
        %li
          %a{:href => "#alis", :data =>{:toggle => 'tab'}}
            = "Activity Line Items (#{@project.activity_line_items.count})"
        %li
          %a{:href => "#mpms", :data =>{:toggle => 'tab'}}
            = "MPMS Projects (#{@project.mpms_projects.count})"
        %li
          %a{:href => "#comm", :data =>{:toggle => 'tab'}}
            = "Comments (#{@project.comments.count})"
        %li
          %a{:href => "#docs", :data =>{:toggle => 'tab'}}
            = "Supporting Documents (#{@project.documents.count})"

      .tab-content
        .tab-pane.fade#cash
          .tab-content
            = render 'cash_flow'
        .tab-pane.fade#just
          .tab-content
            .row
              .col-md-12
                %p= "#{@project.justification}"
        .tab-pane.fade#alis
          .tab-content
            = render 'activity_line_items_table'
        .tab-pane.fade#mpms
          .tab-content
            = render 'mpms_projects_table'
        .tab-pane.fade#comm
          .tab-content
            = render 'comments'
        .tab-pane.fade#docs
          .tab-content
            = render 'documents'

= render 'scripts'
