<li class="nav-item <%= get_nav_link_class('capital_projects') %>">
	<%= link_to capital_projects_path, :class => "dropdown-toggle", :data => {"toggle" => "dropdown"} do %>
		<i class="fa fa-list fa-2x"></i><br/><span>CPT</span>
		<b class="caret"></b>
	<% end %>
	<ul class="dropdown-menu">
		<li class="text-left">												
			<%= link_to capital_projects_path do %>
				<i class="fa fa-usd fa-fw"></i> Capital Needs List
			<% end %>
		</li>		
		<li class="divider"></li>			
		<li class="text-left">												
			<%= link_to new_search_path do %>
				<i class="fa fa-search fa-fw"></i> Search
			<% end %>
		</li>		
		<% if can? :create, Asset %>
			<li class="divider"></li>			
			<li class="text-left">												
				<%= link_to new_capital_project_path do %>
				<i class="fa fa-plus fa-fw"></i> Add Project
				<% end %>
			</li>
		<% end %>
		<% if can? :create, Asset %>
			<li class="divider"></li>			
			<li class="text-left">												
				<%= link_to builder_capital_projects_path do %>
				<i class="fa fa-cogs fa-fw"></i> Build Capital Projects
				<% end %>
			</li>
		<% end %>
	</ul>
</li>
