%li.nav-item.dropdown{:class => get_nav_link_class('capital_projects')}
  = link_to capital_projects_path, :class => "dropdown-toggle", :data => {"toggle" => "dropdown"} do
    %i.fa.fa-bank.fa-2x
    %br
    = " Capital Projects"
    %b.caret
  %ul.dropdown-menu
    %li.text-left.dropdown-submenu
      = link_to capital_projects_path do
        %i.fa.fa-usd.fa-fw
        = " Capital Needs Lists"
      %ul.dropdown-menu
        - CapitalProjectType.all.each do |x|
          %li
            = link_to x.name.pluralize(2), capital_projects_path(:project_type_id => x)

    %li.divider
    %li.text-left
      = link_to new_search_path do
        %i.fa.fa-search.fa-fw
        = " Search Captial Projects"
    - if can? :create, CapitalProject
      %li.divider
      %li.text-left
        = link_to new_capital_project_path do
          %i.fa.fa-plus.fa-fw
          = " New Capital Project"
      %li.divider
      %li.text-left
        = link_to builder_capital_projects_path do
          %i.fa.fa-cogs.fa-fw
          = " Build/Update SOGR Projects"
