%li.nav-item.dropdown{:class => get_nav_link_class('capital_projects')}
  = link_to capital_projects_path, :class => "dropdown-toggle", :data => {"toggle" => "dropdown"} do
    %i.fa.fa-bank.fa-2x
    %br
    = " Capital Planning"
    %b.caret
  %ul.dropdown-menu

    %li.text-left.dropdown-submenu
      = link_to capital_projects_path do
        %i.fa.fa-list-ul.fa-fw
        = " Capital Needs Lists"
      %ul.dropdown-menu
        %li
          = link_to "All Capital Projects", capital_projects_path(:capital_project_status_type_id => 0)
        %li.divider
        %li
          = link_to "Candidate Projects", capital_projects_path(:capital_project_status_type_id => 1)
        %li
          = link_to "Programmed Projects", capital_projects_path(:capital_project_status_type_id => 2)

    %li.divider
    %li.text-left
      = link_to funding_requests_path do
        %i.fa.fa-usd.fa-fw
        = " Funding Requests"
    %li.divider
    %li.text-left
      = link_to new_search_path(:search_type => SearchesController::CAPITAL_PLAN_SEARCH_TYPE) do
        %i.fa.fa-search.fa-fw
        = " Search Capital Projects"
    - if can? :create, CapitalProject
      %li.divider
      %li.text-left
        = link_to new_capital_project_build_path(0) do
          %i.fa.fa-plus.fa-fw
          = " New Capital Project"
      %li.divider
      %li.text-left
        = link_to builder_capital_projects_path do
          %i.fa.fa-cogs.fa-fw
          = " Build/Update SOGR Projects"

%li.nav-item.dropdown{:class => get_nav_link_class('funding_sources')}
  = link_to funding_sources_path, :class => "dropdown-toggle", :data => {"toggle" => "dropdown"} do
    %i.fa.fa-money.fa-2x
    %br
    = " Funding Sources"
    %b.caret
  %ul.dropdown-menu
    - FundingSourceType.all.each do |x|
      %li.text-left.dropdown-submenu
        = link_to x.name, funding_sources_path(:funding_source_type_id => x.id)
        %ul.dropdown-menu
          - FundingSource.where('funding_source_type_id = ?', x.id).all.each do |s|
            %li
              = link_to s.name, funding_source_path(s)
    - if can? :create, CapitalProject
      %li.divider
      %li.text-left
        = link_to new_funding_source_path do
          %i.fa.fa-plus.fa-fw
          = " New Funding Source"
