%li.text-left{(can? :create, CapitalProject) ? {class: 'dropdown-submenu'} : {}}
  = link_to capital_projects_path do
    %i.fa.fa-cubes.fa-fw
    = " Capital Projects"

  - if can? :create, CapitalProject
    %ul.dropdown-menu
      %li.text-left
        = link_to new_capital_project_path do
          %i.fa.fa-plus.fa-fw
          = " New Capital Project"
%li.text-left
  = link_to planning_index_path do
    %i.fa.fa-tasks.fa-fw
    = " Project Planner"

- if can? :create, CapitalProject
  %li.text-left
    = link_to builder_capital_projects_path do
      %i.fa.fa-cogs.fa-fw
      = " SOGR Capital Project Analyzer"