%li.dropdown
  = link_to "#", :class => 'dropdown-toggle', :style => 'padding-top:15px;', :data => {:toggle => 'dropdown'} do
    %i.fa.fa-filter
    = " #{current_user.user_activity_line_item_filter.to_s[0..31]}#{current_user.user_activity_line_item_filter.to_s.length > 32 ? '...' : ''}"
    %b.caret
  %ul.dropdown-menu.columns-2
    .row
      .col-sm-6
        %ul.multi-column-dropdown
          - current_user.user_activity_line_item_filters.each do |filter|
            %li.text-left
              = link_to user_user_activity_line_item_filter_use_path(current_user, filter) do
                %i.fa.fa-filter.fa-fw
                = filter
      .col-sm-6
        %ul.multi-column-dropdown
          - if ['planning', 'capital_projects', 'scheduler'].include? params[:controller]
            %li.text-left
              .form-group= select_tag(:sort, options_for_select([['Cost', 'cost'], ['Pcnt Funded', 'pcnt_funded'], ['# of assets', 'num_assets']], :selected => params[:sort]), :prompt => 'Sort by...', :class => "form-control")
          %li.text-left
            = link_to user_user_activity_line_item_filters_path(current_user) do
              %i.fa.fa-list-alt.fa-fw
              Manage Filters
          %li.divider
          %li.text-left
            = link_to new_user_user_activity_line_item_filter_path(current_user) do
              %i.fa.fa-plus.fa-fw
              New Filter

:javascript

    $('#sort').on('click', function(event) {
      event.stopPropagation();
    });

    $('#sort').on('change', function(event) {
      var url = document.location.href
      var newAdditionalURL = "";
      var tempArray = url.split("?");
      var baseURL = tempArray[0];
      var aditionalURL = tempArray[1];
      var temp = "";
      if (aditionalURL){
        var tempArray = aditionalURL.split("&");
        for ( var i in tempArray ){
          if(tempArray[i].indexOf("sort") == -1){
            newAdditionalURL += temp+tempArray[i];
            temp = "&";
          }
        }
      }
      if ($(this).val().length > 1) {
        var rows_txt = temp+"sort="+$(this).val();
        var finalURL = baseURL+"?"+newAdditionalURL+rows_txt;
      } else {
        var finalURL = baseURL+"?"+newAdditionalURL;
      }

      if ((baseURL.indexOf("planning") >= 0) || (baseURL.indexOf("capital_projects") >= 0) || (baseURL.indexOf("scheduler") >= 0)) {
        document.location.href = finalURL;
      }

    });