%li.dropdown{:class => get_nav_link_class(['capital_projects', 'build', 'activity_line_items', 'scheduler'])}
  = link_to "#", :class => "dropdown-toggle", :data => {"toggle" => "dropdown"} do
    %i.fa.fa-cubes.fa-2x
    %b.caret
  %ul.dropdown-menu
    %li.text-left
      = link_to capital_projects_path do
        %i.fa.fa-cubes.fa-fw
        = " Capital Projects"

    %li.divider
    %li
      = link_to scheduler_index_path do
        %i.fa.fa-refresh.fa-fw
        = " Project Scheduler"

    - if can? :create, CapitalProject
      %li.divider
      %li.text-left
        = link_to new_capital_project_build_path(0) do
          %i.fa.fa-plus.fa-fw
          = " New Capital Project"
      %li.divider
      %li.text-left
        = link_to builder_capital_projects_path do
          %i.fa.fa-cogs.fa-fw
          = " Build/Update SOGR Projects"
