%li.dropdown
  = link_to "#", :class => 'dropdown-toggle', :style => 'padding-top:15px;', :data => {:toggle => 'dropdown'} do
    %i.fa.fa-filter
    = " #{session[:user_activity_line_item_filter].to_s[0..31]}#{session[:user_activity_line_item_filter].to_s.length > 32 ? '...' : ''}"
    -#= " #{current_user.user_activity_line_item_filter.to_s[0..31]}#{current_user.user_activity_line_item_filter.to_s.length > 32 ? '...' : ''}"
    %b.caret
  %ul.dropdown-menu.columns-2
    .row
      .col-sm-6
        %ul.multi-column-dropdown
          - current_user.user_activity_line_item_filters.each do |filter|
            %li.text-left
              = link_to user_user_activity_line_item_filter_use_path(current_user, filter) do
                %i.fa.fa-filter.fa-fw
                = filter
      .col-sm-6
        %ul.multi-column-dropdown
          %li.text-left
            = link_to user_user_activity_line_item_filters_path(current_user) do
              %i.fa.fa-list-alt.fa-fw
              Manage Filters
          %li.divider
          %li.text-left
            = link_to new_user_user_activity_line_item_filter_path(current_user) do
              %i.fa.fa-plus.fa-fw
              New Filter

