%li.dropdown{:class => get_nav_link_class(['capital_projects', 'build', 'activity_line_items', 'scheduler'])}
  = link_to "#", :class => "dropdown-toggle", :data => {"toggle" => "dropdown"}, :title => 'Capital Planning' do
    %i.fa.fa-cubes.fa-2x
    %b.caret
  %ul.dropdown-menu
    %li.text-left
      = link_to user_user_activity_line_item_filters_path(current_user) do
        %i.fa.fa-filter.fa-fw
        = " ALI Filters"

    %li.divider
    %li.text-left
      = link_to capital_projects_path do
        %i.fa.fa-cubes.fa-fw
        = " Capital Projects"

    %li.divider
    %li
      = link_to planning_index_path do
        %i.fa.fa-tasks.fa-fw
        = " Project planner"

    - if can? :create, CapitalProject
      %li.divider
      %li.text-left
        = link_to new_capital_project_path do
          %i.fa.fa-plus.fa-fw
          = " New Capital Project"
      %li.divider
      %li.text-left
        = link_to builder_capital_projects_path do
          %i.fa.fa-cogs.fa-fw
          = " SOGR Capital Project Analyzer"

