- if Rails.application.config.try(:use_new_scenarios_tool)
  %li.text-left
    = link_to scenarios_path do
      %i.fa.fa-cubes.fa-fw
      = "Scenarios"
  %li.text-left
    = link_to draft_projects_path do
      %i.fa.fa-tasks.fa-fw
      = "Projects"

- else
  %li.text-left
    = link_to capital_projects_path do
      %i.fa.fa-cubes.fa-fw
      = "Projects"

  %li.text-left
    = link_to planning_index_path do
      %i.fa.fa-tasks.fa-fw
      = " Project Planner"

- if can? :create, CapitalProject
  %li.text-left
    = link_to builder_capital_projects_path do
      %i.fa.fa-cogs.fa-fw
      = " SOGR Capital Project Analyzer"
