%li.dropdown{:class => get_nav_link_class(['capital_projects', 'build', 'activity_line_items', 'scheduler'])}
  = link_to "#", :class => "dropdown-toggle", :data => {"toggle" => "dropdown"}, :title => 'Capital Planning' do
    %i.fa.fa-cubes.fa-2x
    %b.caret
  %ul.dropdown-menu.multi-level
    %li.text-left.dropdown-submenu
      = link_to user_user_activity_line_item_filters_path(current_user) do
        %i.fa.fa-filter.fa-fw
        = current_user.user_activity_line_item_filter

      %ul.dropdown-menu
        - current_user.user_activity_line_item_filters.each do |filter|
          %li.text-left
            = link_to user_user_activity_line_item_filter_use_path(current_user, filter) do
              %i.fa.fa-filter.fa-fw
              = filter

        %li.divider
        %li.text-left
          = link_to user_user_activity_line_item_filters_path(current_user) do
            %i.fa.fa-list-alt.fa-fw
            Manage Filters
        %li.divider
        %li.text-left
          = link_to new_user_user_activity_line_item_filter_path(current_user) do
            %i.fa.fa-plus.fa-fw
            New Filter

    %li.divider
    %li.text-left
      = link_to capital_projects_path do
        %i.fa.fa-cubes.fa-fw
        = " Capital Projects"

    %li.divider
    %li
      = link_to planning_index_path do
        %i.fa.fa-tasks.fa-fw
        = " Project Planner"

    - if can? :create, CapitalProject
      %li.divider
      %li.text-left
        = link_to new_capital_project_path do
          %i.fa.fa-plus.fa-fw
          = " New Capital Project"
      %li.divider
      %li.text-left
        = link_to builder_capital_projects_path do
          %i.fa.fa-cogs.fa-fw
          = " SOGR Capital Project Analyzer"

