:css
  .total_actions{
    padding-left:0px;
  }

:javascript
  $(document).ready(function () {
  // This controls the year dropdown in each asset table
    $(".budgetForm").change(function(){
      var allocation = $(this).attr("id");
      console.log(allocation);
      var budget = $(this).val();
      console.log(budget);
      $("#" + allocation + "Row").html("Updating . . . ");
      updateAllocationBudget(allocation, budget);
    });
  });

  function updateAllocationBudget(allocation, budget){
    $.ajax({
      url: '/draft_budget_allocations/' + allocation,
      data: {'draft_budget_allocation': {'draft_budget_id': budget}},
      type: 'PUT',
      success: function(result) {
        //TODO: Make this more efficieint. ie don't reload the whole page
        location.reload();
      }
    });
  }



.dfrp
  -funding_request.violations.each do |violation|
    %h5
      %i.fa.fa-exclamation-triangle
      =violation
  .row 
    .col-md-2
      %h5 Budget
    .col-md-2 
      %h5 Maximum%
    .col-md-2 
      %h5 Typical%
    .col-md-2 
      %h5 Actual%
    .col-md-3.text-right
      %h5 Allocation
    .col-md-1
  -remaining_pct = 1.0
  -funding_request.ordered_allocations.each do |allocation|
    .row.allocation_row
      .col-md-2.text-center{id: "#{allocation.object_key}Row"}
        //=allocation.draft_budget.try(:name)
        %form.text-left
          %select.text-left.budgetForm{id: allocation.object_key}
            -budgets.each do |budget|
              %option{value: budget.id, selected: allocation.draft_budget == budget} 
                =budget.try(:name)
      .col-md-2
        ="#{100*allocation.required_pct}%"
      .col-md-2
        -effective_pct = allocation.effective_pct
        ="#{(100*effective_pct).round(3)}%"
        -remaining_pct = remaining_pct*(1-(allocation.required_pct))
      .col-md-2.alloc_actual
        -cost = funding_request.total
        ="#{(100*(allocation.amount.to_f/cost.to_f)).round(3)}%"
      .col-md-3.text-right
        %input.edit{type:'number',value:"#{allocation.amount}", style:"display:none"}
        %span.unedit
          =format_as_currency allocation.amount
        %input.toggle_edit{type:'checkbox',style:"visibility:hidden"}
      .col-md-1.alloc_actions{ data_id: "#{allocation.object_key}" }
        %i.fa.fa-edit.trigger_toggle_edit
        %i.fa.fa-check.trigger_toggle_edit.confirm_edit{style:"display:none"}
        %i.fa.fa-times.cancel_edit{style:"display:none"}
        =link_to lock_me_draft_budget_allocation_path(allocation_id:allocation), method: :patch do
          %i.fa.fa-lock.alloc_lock
        =link_to draft_budget_allocation_path(allocation), method: :delete do 
          %i.fa.fa-trash
        
  .row
    .col-md-2.text-center
      =link_to new_draft_budget_allocation_url(draft_funding_request_id: funding_request.object_key) do 
        %i.fa.fa-plus
  .row  
    .row
      .col-md-9
      .col-md-2
        %hr
    .row
      .col-md-7
      .col-md-2.text-right
      .col-md-2.text-right
        %input.edit.edit_total{type:'number',value:"#{funding_request.total}", style:"display:none", data_id: "#{funding_request.object_key}" }
        .col-md-1.text-right
          ="Total: "
        %span.unedit_total.fr_total
          ="#{format_as_currency(funding_request.total)}"
        %input.toggle_edit_total{type:'checkbox',style:"visibility:hidden"}
      .col-md-1.total_actions{id:"#{funding_request.object_key}"}
        %i.fa.fa-edit.trigger_toggle_edit_total
        
        %i.fa.fa-check.trigger_toggle_edit_total.lock_total{style:"display:none"}
        %i.fa.fa-times.cancel_edit_total{style:"display:none"}
      %span#totalSpinner{style:"display:none"}
        %i.fa.fa-spinner.fa-spin
        :javascript
          // lock total
          $(document).on("click", "##{funding_request.object_key} .lock_total", (x)=>{

            let root = $(x.target).closest(".dfrp");
            let total = $(root).find("input.edit.edit_total").val();
            let id = "#{funding_request.object_key}";

            // Make Call to Update the Total
            $.ajax({
              url: "/draft_funding_requests/"+id+"/lock_total",
              data: {"total":total},
              method: 'PATCH',
              dataType: 'json',
              success: function(data) {
                location.reload();
              },
              error: function(e) {
                console.log(e);
              }
            });
          });

  .row
    .col-md-11
      %hr