%tr
  %td.nowrap
    .form-group= "#{i_f.object.fiscal_year}"
    = i_f.input :id, :as => :hidden
    = i_f.input :object_key, :as => :hidden
    = i_f.input :fy_year, :as => :hidden
  %td
    .row.col-xs-6
      = i_f.input :amount, :wrapper=> :vertical_prepend, :label => false do
        %span.input-group-addon
          %i.fa.fa-usd
        = i_f.input_field :amount, :class => "form-control", :number => true, :min => 1000
  %td= i_f.input :estimated, :label => false
  