- if funding_source.funding_amounts.empty?
  %p There are no funding amounts for this fund.
-else
  %table.table.table-hover
    %thead
      %tr
        %th.center Fiscal Year
        %th.center Amount
        %th.center Estimate
        
        %th.center Requested
        %th.center Commited
        %th.center Remaining

        - if popup
          %th.center
              
    %tbody
      - funding_source.funding_amounts.each do |a|
        %tr
          %td.left= a.fiscal_year
          %td.right= format_as_currency(a.amount)
          %td.center= format_as_boolean(a.estimated)
  
          %td.right= format_as_currency(a.total_requested)
          %td.right= format_as_currency(a.total_committed)
          %td.right= format_as_currency(a.total_remaining)

          - if popup
            %td.center
              %i.fa.fa-info-circle.text-info.popup-details{:data => {:title => "#{funding_source.name}: #{a.fiscal_year}", :content => "#{raw render :partial => 'funding_requests_popup_table', :locals => {:funding_amount => a}}"}}
              
:javascript
  $('.popup-details').popover({
    trigger: 'hover',
    container: 'body',
    placement: 'left',
    animation: 'true',
    html: 'true'    
  });  
  