%fieldset
  %legend= "#{i_f.object.fiscal_year}"
  = i_f.input :id, :as => :hidden
  = i_f.input :object_key, :as => :hidden
  = i_f.input :fy_year, :as => :hidden
  = i_f.input :amount
  = i_f.input :estimated
  
  