%tr
  %td.nowrap.col-md-2
    .form-group= "#{i_f.object.fiscal_year}"
    = i_f.input :id, :as => :hidden
    = i_f.input :object_key, :as => :hidden
    = i_f.input :fy_year, :as => :hidden
  %td.col-md-3
    .row.col-xs-12
      = i_f.input :amount, :wrapper=> :vertical_prepend, :label => false do
        %span.input-group-addon
          %i.fa.fa-usd
        = i_f.input_field :amount, :class => "form-control", :number => true, :min => 1000
  %td.col-md-1
    = i_f.input :estimated, :label => false
  