.row
  .col-sm-12.col-lg-3
    .panel.panel-default
      .panel-heading
        .row
          .col-sm-6
            %h3.panel-title
              - if @asset.is_early_replacement?
                %a{:tabindex => 0, :class => 'transam-popover', :data => {:toggle => "popover", :html => 'true', :placement => 'left', :container => 'body', :title => "Early Replacement",  :content => "<p>#{@asset.formatted_early_replacement_reason}</p>"}}
                  %i.fa.fa-exclamation-triangle{style: 'color: red !important;'}
              %i.fa{:class => get_tag_icon(@asset), :data => {:id => @asset.object_key}}
              = @asset
          .col-sm-6
            = render 'actions'
      .panel-body
        = render :partial => 'summary', :locals => {:asset => @asset}

  .col-sm-12.col-lg-9
    = render 'details'

:javascript
  $(function(){
    $('.transam-popover').popover({
      trigger: 'hover',
      html: 'true',
      placement: 'right',
      container: 'body'
    });
  });
