= render :layout => "search_panel" do |f|
  .row
    .col-sm-8
      %fieldset
        %legend.panel-legend Capital Project
        .col-sm-6
          = f.input :keyword, :placeholder => "Enter A Search Term"
          = f.input :organization_id, :collection => Organization.where(id: @organization_list), :label_method => 'coded_name',  :include_blank => "Any..." unless current_user.organizations.count < 2
          = f.input :total_cost, :wrapper => :vertical_prepend, :label => "Total Anticipated Cost" do
            .input-group-btn
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:data => {:compare => "-1"}} Less Than
                %li
                  %a{:data => {:compare => "1"}} Greater Than
              = f.input_field :total_cost_comparator, :as => :hidden, :value => '-1'
            = f.input_field :total_cost, :class => "form-control"
          = f.input :fy_year, :wrapper => :vertical_prepend, :label => get_fiscal_year_label do
            .input-group-btn
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:data => {:compare => "-1"}} Before
                %li
                  %a{:data => {:compare => "0"}} During
                %li
                  %a{:data => {:compare => "1"}} After
              = f.input_field :fy_year_comparator, :as => :hidden, :value => '0'
            = f.input_field :fy_year, :class => "form-control", :collection => @searcher.fiscal_years
        .col-sm-6

          = f.input :capital_project_state, :collection => CapitalProject.state_names.collect{|a| [a.humanize, a]}, :label => "Capital Project Status"
          = f.input :capital_project_type, :collection => CapitalProjectType.active, :label => "Capital Project Type"
          = f.input :team_ali_code, label: "Team ALI Code", :collection => TeamAliCode.top_level_categories, :label_method => :full_name
          = f.input :funding_source, :collection => FundingSourceType.active
    .col-sm-4
      %fieldset
        %legend.panel-legend Included Assets
        = f.input :asset_type, :collection => AssetType.active, :label => "Type"
        = f.input :asset_subtype, :collection => AssetSubtype.active, :label => "Subtype"
