= render :layout => "search_panel" do |f|
  .row
    .col-sm-12
      %fieldset
        %legend.panel-legend Appropriation
        .col-sm-4
          = f.input :organization_id, :collection => Organization.where(id: @organization_list), :label_method => 'coded_name' unless @organization_list.count < 2
          = f.input :fy_year, :collection => get_fiscal_years, :label => get_fiscal_year_label
          = f.input :funding_line_item_type, :collection => FundingLineItemType.active, :label => "Funding Line Item Type"
        .col-sm-4
          = f.input :amount, :wrapper => :vertical_prepend, :label => "Appropriation Amount" do
            .input-group-btn
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:data => {:compare => "-1"}} Less Than
                %li
                  %a{:data => {:compare => "1"}} Greater Than
              = f.input_field :amount_comparator, :as => :hidden, :value => '-1'
            = f.input_field :amount, :class => "form-control"
          = f.input :funding_source_type, :collection => FundingSourceType.active
        .col-sm-4
          = f.input :discretionary_type, :collection => [['Discretionary', 1], ['Non-Discretionary', 0]]
