.row
  .col-sm-12
    .panel.panel-default
      .panel-heading
        .row
          .col-md-6
            .panel-title
              %h3.panel-title
                %i.fa.fa-search.fa-fw
                Search
          .col-md-6
            .btn-group.pull-right.panel-action
              %button.btn.btn-primary.btn-sm#collapse{:data => {:toggle => "collapse", :target => "#funding_source_search_form"}}
                %i.fa.fa-fw.fa-minus
      .panel-body.collapse.in#funding_source_search_form
        = simple_form_for(@searcher,
        :as => :searcher,
        :url => searches_path,
        :method => 'post',
        :html => {:class => 'form-vertical'},
        :remote => true,
        :wrapper => :vertical_form,
        :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :horizontal_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean},
        :defaults => {:include_blank => "Any...", :required => false} ) do |f|
          = hidden_field_tag :search_type, @search_type
          .row
            .col-sm-12
              %fieldset
                %legend.panel-legend Funding Source
                .col-sm-4
                  = f.input :keyword, :placeholder => "Enter A Search Term"
                  = f.input :funding_source_type_id, :collection => FundingSourceType.all
                .col-sm-4
                  = f.input :federal_match_required, :wrapper => :vertical_prepend, :label => "Federal Match Percentage Required" do
                    .input-group-btn
                      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                        Equal To
                        %span.caret
                      %ul.dropdown-menu{:role => "menu"}
                        %li
                          %a{:data => {:compare => "-1"}} Less Than 
                        %li
                          %a{:data => {:compare => "0"}} Equal To 
                        %li
                          %a{:data => {:compare => "1"}} Greater Than 
                      = f.input_field :federal_match_required_comparator, :as => :hidden, :value => '0'
                    = f.input_field :federal_match_required, :class => "form-control"
                  = f.input :state_match_required, :wrapper => :vertical_prepend, :label => "State Match Percentage Required" do
                    .input-group-btn
                      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                        Equal To
                        %span.caret
                      %ul.dropdown-menu{:role => "menu"}
                        %li
                          %a{:data => {:compare => "-1"}} Less Than 
                        %li
                          %a{:data => {:compare => "0"}} Equal To 
                        %li
                          %a{:data => {:compare => "1"}} Greater Than 
                      = f.input_field :state_match_required_comparator, :as => :hidden, :value => '0'
                    = f.input_field :state_match_required, :class => "form-control"
                  = f.input :local_match_required, :wrapper => :vertical_prepend, :label => "Local Match Percentage Required" do
                    .input-group-btn
                      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                        Equal To
                        %span.caret
                      %ul.dropdown-menu{:role => "menu"}
                        %li
                          %a{:data => {:compare => "-1"}} Less Than 
                        %li
                          %a{:data => {:compare => "0"}} Equal To 
                        %li
                          %a{:data => {:compare => "1"}} Greater Than 
                      = f.input_field :local_match_required_comparator, :as => :hidden, :value => '0'
                    = f.input_field :local_match_required, :class => "form-control"
                .col-sm-4
                  = f.input :state_administered_federal_fund, :as => :boolean, :label => "State Administered Federal Funds Only"
                  = f.input :rural_providers, :as => :boolean, :label => "Rural Providers Only"
                  = f.input :urban_providers, :as => :boolean, :label => "Urban Providers Only"
                  = f.input :shared_ride_providers, :as => :boolean, :label => "Shared Ride Providers Only"
                  = f.input :inter_city_bus_providers, :as => :boolean, :label => "Intercity Bus Providers Only"
                  = f.input :inter_city_rail_providers, :as => :boolean, :label => "Intercity Rail Providers Only"
                  = f.input :show_inactive, :as => :boolean, :label => "Include Inactive Sources"
          .row
            .col-md-12
              = f.button :submit, 'Search', :class=>"btn btn-primary", :id => 'submit_btn'
              = button_tag 'Reset', :type => 'reset', :class=> 'btn btn-warning'

:javascript
  // When selecting from the button-dropdowns, set a hidden field appropriately
  $(".input-group-btn a").on("click", function() {
    // Set Hidden Field value and update button text
    $(this).parents("ul").siblings("input:hidden").val($(this).attr("data-compare"));
    $(this).parents("ul").prev("button").text($(this).text());
    $(this).parents("ul").prev("button").append("<span class='caret'></span>");
  });

  // Update the icons in the header based on collapsing the panels
  $('#funding_source_search_form').on('hide.bs.collapse', function () {
    $('#collapse i').removeClass('fa-minus');
    $('#collapse i').addClass('fa-plus');   
  });
  $('#funding_source_search_form').on('show.bs.collapse', function () {
    $('#collapse i').removeClass('fa-plus');
    $('#collapse i').addClass('fa-minus');   
  });  