%h2 
  ="Scenarios"
  =link_to new_scenario_path, class: "btn btn-info btn-xs" do 
    %i.fa.fa-plus
%h5
  .row
    .col-md-1
      %form
        %select#yearSelector
          -(2020..2050).each do |year|
            %option{value: "#{year}", selected: (year.to_s==@fy_year.to_s)} 
              =format_as_fiscal_year year

    -if current_user.organization.try(:organization_type).try(:name) == "Grantor"
      .col-md-10
      .col-md-1
        =link_to export_to_csv_draft_projects_path(fy_year: @fy_year) do
          %i.fa.fa-file-excel-o
          Export to CSV


.row 
  .col-md-12
    =column_chart Scenario.peaks_and_valleys_chart_data(nil, @fy_year), prefix: "$", stacked: true



:javascript
  $(document).ready(function () {

    // This controls the year dropdown in each asset table
    $("#yearSelector").change(function(){
      var year = $(this).val();
      goToYear(year);
    });

  });


  function goToYear(year){
    window.location.replace("/scenarios?fy_year=" + year);
  }


:ruby
  table_dom_id = SecureRandom.hex

= javascript_include_tag  "https://kit.fontawesome.com/#{ENV['FONT_AWESOME']}.js"
.library-table
  %table.elbat{:id => table_dom_id,
    :use => 'true',
    :data => {:use => 'true',
      :table_code => 'scenarios',
      :side => 'client',
      :current_page => '0',
      :current_page_size => '10',
      :page_sizes => "10,20,50,100",
      :search => 'client',
      :export => "['csv', 'txt']",
      :columns => '{"name":{"name": "Name","type":"drilldown-link"},
                    "status":{"name":"Status"},
                    "org":{"name":"Organization"},
                    "created_at":{"name":"Created At"}}',
      :selected_columns => "name,status,org,created_at",
      :cookies => "true",
      :sort => 'client',
      :sort_params => @params,
      :filter => "[]",
      :data_source => 'client',
      :url => ''}}
  - @scenarios.each_with_index do |scenario, index|

    :javascript
      add_row('#{table_dom_id}',
      {
        "name": '#{link_to scenario.name, scenario_path(scenario)}',
        "status": '#{scenario.state_title}',
        "org": '#{scenario.organization.name}',
        "created_at": "#{format_as_date_time(scenario.created_at)}"
      }, #{index});
