%h2 
  ="Scenarios"
  =link_to new_scenario_path, class: "btn btn-info btn-xs" do 
    %i.fa.fa-plus
%h5
  .row
    .col-md-4
      %form
        %select#yearSelector
          -(2020..2050).each do |year|
            %option{value: "#{year}", selected: (year.to_s==@fy_year.to_s)} 
              =format_as_fiscal_year year
        %label{style: "margin-left: 5px;"} Filter by Status
        %select#statusFilter
          %option{value: "", selected: @status == nil}
          - Scenario.all.order(:state).map{|s| s.state}.uniq.each do |state|
            %option{value: state, selected: state == @status}
              = state == "cancelled" ? "Closed" : state.titleize

    -if current_user.organization.try(:organization_type).try(:name) == "Grantor"
      .col-md-7
      .col-md-1
        =link_to export_to_csv_draft_projects_path(fy_year: @fy_year) do
          %i.fa.fa-file-excel-o
          Export to CSV


.row 
  .col-md-12
    =column_chart Scenario.peaks_and_valleys_chart_data(nil, @fy_year), prefix: "$", library: {scales: {yAxes: [{id: 'y-axis', type: 'logarithmic'},]}}



:javascript
  $(document).ready(function () {
    // Pre-populate filters used for the scenarios table
    var scenarioFilters = {fy_year: #{@fy_year}, status: "#{@status}"};

    // This controls the year dropdown in each asset table
    $("#yearSelector").change(function(){
      var year = $(this).val();
      scenarioFilters["fy_year"] = year;
      applyFilters(scenarioFilters);
    });

    // Filter the table by scenario status
    $("#statusFilter").change(function(){
      var scenarioStatus = $(this).val();
      scenarioFilters["status"] = scenarioStatus;
      applyFilters(scenarioFilters);
    });
  });


  // function goToYear(year){
  //   window.location.replace("/scenarios?fy_year=" + year);
  // }

  function applyFilters(filters){
    // Construct params string using filter values
    var filtersParamString = "?";
    Object.keys(filters).forEach(function(filter) {
      if (filters[filter] != "") {
        filtersParamString += filter + "=" + filters[filter] + "&";
      }
    });
    filtersParamString = filtersParamString.slice(0, -1);

    window.location.replace("/scenarios" + filtersParamString);
  }

  // function filterByStatus(status){
  //   window.location.replace("/scenarios?status=" + status);
  // }

:ruby
  table_dom_id = SecureRandom.hex

= javascript_include_tag  "https://kit.fontawesome.com/#{ENV['FONT_AWESOME']}.js"
.library-table
  %table.elbat{:id => table_dom_id,
    :use => 'true',
    :data => {:use => 'true',
      :table_code => 'scenarios',
      :side => 'client',
      :current_page => '0',
      :current_page_size => '10',
      :page_sizes => "10,20,50,100",
      :search => 'client',
      :export => "['csv', 'txt']",
      :columns => '{"name":{"name": "Name","type":"drilldown-link"},
                    "primary_scenario":{"name":"Primary Scenario","type":"x-column"},
                    "status":{"name":"Status"},
                    "org":{"name":"Organization"},
                    "created_at":{"name":"Created At"}}',
      :selected_columns => "name,primary_scenario,status,org,created_at",
      :cookies => "true",
      :sort => 'client',
      :sort_params => @params,
      :filter => "[]",
      :data_source => 'client',
      :url => ''}}
  - @scenarios.each_with_index do |scenario, index|

    :javascript
      add_row('#{table_dom_id}',
      {
        "name": '#{link_to scenario.name, scenario_path(scenario)}',
        "primary_scenario": "#{format_as_boolean(scenario.primary_scenario, "fa-times")}",
        "status": '#{scenario.state_title}',
        "org": '#{scenario.organization.name}',
        "created_at": "#{format_as_date_time(scenario.created_at)}"
      }, #{index});