:css
  .with-margin {
    margin-bottom: 5px;
  }
  .comments_panel {
    background: var(--gray-medium-light);
    margin-right: -5px;
    margin-left: 5px;
    border-bottom: 1px solid var(--gray-medium);
  }

  .list-group {
    display: flex;
    flex-direction: column-reverse;
  }

  .comment {
    margin: 5px 10px;
    display:flex;
    flex-direction: column-reverse;
  }

  .comment > span:not(.title) {
    min-width: 0px;
    display: inline-flex;
    align-self: flex-end;
    margin-bottom: -32px;
  }

  .comment_form {
    padding: 0px 10px !important;
  }

  .comment_form .form-group .form-control {
    background: #fff;
  }

  .comment_form #comment_submit {
    float: right;
    margin-bottom: 10px;
  }

  .comment_form #comment_comment {
    resize: vertical;
  }



  .table_header {
    margin-top: 0px;
  }

  .project_phase_panel {
    margin: 0px -5px 0px 5px;
  }





//TITLE
.row.text-center
  %h1
    =@scenario.name 
  .row
    =@scenario.description
  .row
    =link_to edit_scenario_path(@scenario) do 
      %i.fa.fa-edit

//Main Content  
.row
  .col-md-1
  
  //Details
  .col-md-3
    .row
      %strong 
        Organization: 
      =@scenario.organization
    .row
      %strong
        Cost:
      =format_as_currency(@scenario.cost)

  .col-md-4
    .progress
      .progress-bar.bg-success{role: "progressbar", style: "width: #{@scenario.percent_funded}%"}
        ="#{@scenario.percent_funded}% Funded"


  //State Info and Actions
  .col-md-2
  .col-md-2
    .well
      .row
        %h4
          =@scenario.state.titleize
        =@scenario.state_description
      .row.text-center
        %br
        =render "#{@scenario.state}_actions"


.row 
  .col-md-12
    =column_chart @scenario.year_to_cost_ali_breakdown, prefix: "$", stacked: true
.row
  //Comments
  .col-md-4.comments_panel
    %h3.text-center
      ="Timeline"
    %ul.list-group
      - @scenario.comments.each do |c|
        %li.list-group-item.comment
          %span.title.text-muted{:style => 'min-width: 140px; display:inline-block;'}= "#{c.creator.name} (#{c.creator_organization})<br/>#{format_as_date_time(c.created_at)}".html_safe
          %span.pull-right{:style => 'min-width: 80px; display:block;vertical-align:top'}
            - if can? :destroy, c
              = link_to [c.commentable.becomes(c.commentable.class.base_class), c], :method => :delete, :class => "btn btn-warning btn-xs pull-right btn-action", :data => { :confirm => 'Are you sure you want to remove this comment?' } do
                %i.fa.fa-trash
                Delete
          %span.title{:style => 'display:block;vertical-align:top;word-wrap:break-word;'}= format_as_text(c.comment.html_safe)
    - if can? :create, @scenario.comments.build
      .row
        .col-md-12
          %fieldset
            %legend Add Comment
            = form_for [@scenario, Comment.new], :html => {:multipart => true, :class => 'form-vertical comment_form' }, :url => scenario_comments_path(@scenario, Comment.new), :role => 'form' do |f|
              .form-group
                = f.text_area :comment, :class => 'form-control', :placeholder => 'Enter a new comment...', :required => true, :maxlength => 254
              = f.submit :class => 'btn btn-primary', :id => 'comment_submit'
  //Phases
  .col-md-8 
    -@scenario.draft_projects.each_with_index do |project, index| 
      -project.draft_project_phases.each_with_index do |phase, index|
        .row.project_phase_panel
          .col-md-12
            =render partial: "phase_with_assets_panel", locals: {phase: phase}
//Projects
.row
  .col-md-12
    =render partial: "draft_projects_table", locals: {scenario: @scenario}


