:css
  .with-margin {
    margin-bottom: 5px;
  }
  .comments_panel {
    background: var(--gray-medium-light);
    margin-right: -5px;
    margin-left: 5px;
    border-bottom: 1px solid var(--gray-medium);
  }

  .list-group {
    display: flex;
    flex-direction: column-reverse;
  }

  .comment {
    margin: 5px 10px;
    display:flex;
    flex-direction: column-reverse;
  }

  .comment > span:not(.title) {
    min-width: 0px;
    display: inline-flex;
    align-self: flex-end;
    margin-bottom: -32px;
  }

  .comment_form {
    padding: 0px 10px !important;
  }

  .comment_form .form-group .form-control {
    background: #fff;
  }

  .comment_form #comment_submit {
    float: right;
    margin-bottom: 10px;
  }

  .comment_form #comment_comment {
    resize: vertical;
  }



  .table_header {
    margin-top: 0px;
  }

  .project_phase_panel {
    margin: 0px 10px 0px 24px;
  }

  .phase_filter {
    padding: 0px 30px 24px !important;
  }

  .divider {
    height: 1px;
    margin: 5px 1px;
    overflow: hidden;
    background-color: #E5E5E5;
    border-bottom: 1px solid #FFF;
  }

  .chart_row {
    padding-top: 64px;
  }




//TITLE
.row.text-center
  %h1
    =@scenario.name 
  .row
    =@scenario.description
  .row
    =link_to edit_scenario_path(@scenario) do 
      %i.fa.fa-edit

//Main Content  
.row
  .col-md-1
  
  //Details
  .col-md-3
    .row
      %strong 
        Organization: 
      =@scenario.organization
    .row
      %strong
        Cost:
      =format_as_currency(@scenario.cost)

  .col-md-4
    .progress
      .progress-bar.bg-success{role: "progressbar", style: "width: #{@scenario.percent_funded}%"}
        ="#{@scenario.percent_funded}% Funded"


  //State Info and Actions
  .col-md-2
  .col-md-2
    .well
      .row
        %h4
          =@scenario.state.titleize
        =@scenario.state_description
      .row.text-center
        %br
        =render "#{@scenario.state}_actions"


.row 
  .col-md-12
    =column_chart @scenario.year_to_cost_ali_breakdown, prefix: "$", stacked: true

.row
  .col-md-12
    =render partial: 'scenario_assets_table', locals: {transit_assets: @transit_assets}

.row
  /// LEFT COLUMN
  .col-md-4
    //Comments
    .row
      =render 'scenario_comments'
    
    //Assets


    

  // RIGHT COLUMN

  //Phases
  .col-md-8
    -if @scenario.draft_projects.length > 0 && @scenario.draft_project_phases > 0
      = form_with model: @scenario, html:{class: "phase_filter"} do |f|
        = f.select :ali_select, @scenario.draft_projects.map { |proj| proj.team_ali_code }.uniq, include_blank: "Select ALI"
        = f.select :year_select, options_for_select(@scenario.draft_project_phases.map { |ph| ph.fy_year }.uniq.sort.map!{ |y| [format_as_fiscal_year(y), y] }, @phase_filter_year)
      -@scenario.draft_project_phases.select{ |p| p.fy_year.to_s == @phase_filter_year }.each_with_index do |phase, index|
        .row.project_phase_panel
          .col-md-12
            =render partial: "phase_with_assets_panel", locals: {phase: phase}
//Projects
.row
  .col-md-12
    =render partial: "draft_projects_table", locals: {scenario: @scenario}

:javascript

  $(document).on("change", "select[name='scenario[ali_select]']", (x) => {
    let code = $(x.target).val();
    $(".phase").show();
    if (code) $(".phase:not([ali='" + code + "'])").hide();
  });

  $(document).on("change", "select[name='scenario[year_select]']", (x) => {
    let year = $(x.target).val().toString();
    let url = location.href.replace(location.search, '');
    location.replace(url+"?filter_year="+year);
  });



  // within a phase panel
  const change_phase_year = (id, year) => {
    // send new year to controller to update 
    $.ajax({
        url: "/draft_project_phases/"+id+"/update_for_scenarios",
        data: {"draft_project_phase": {"fy_year":year}},
        method: 'PUT',
        dataType: 'json',
        success: function(data) {
          console.log("updated phase");
          //location.replace(location.href + year);
          location.reload();
        },
        error: function(e) {
          console.log(e);
        }
      });
  }

  $(document).on("change", "select[name='draft_project_phase[phase_year_select]']", (x) => {
    let id = $(x.target).closest(".panel").attr("id"); // get id from parent panel
    let year = $(x.target).val();
    change_phase_year(id, year);
  });

  let convert_to_fiscal = (y) => {
    let first = y.toString().slice(2,4);
    let second = (parseInt(first) + 1).toString(); // not century safe
    return first + '-' + second;
  }


