:css
  .pinned {
    color: #428bca;
    font-size: 18px;
    cursor: pointer;
  }

  .unpinned {
    opacity: .25;
    cursor: pointer;
  }

.row.text-center
  %h1
    =@scenario.name 
  .row
    =@scenario.description
  .row
    ="Created: #{@scenario.created_at.strftime('%b %e, %Y at %I:%M%p')}"
  .row
    =link_to edit_scenario_path(@scenario) do 
      %i.fa.fa-edit
    =link_to copy_scenario_path(@scenario), method: :post, data: {confirm: "Are you sure you want to copy this scenario?"} do 
      %i.fa.fa-clone

//Main Content  
.row
  .col-md-1
  
  //Details
  .col-md-3
    .row
      %strong 
        Organization: 
      =@scenario.organization
    //.row
    //  %strong
    //    Cost:
    //  =format_as_currency(@scenario.cost)
    .row 
      =link_to assets_scenario_path(@scenario), target: "_blank" do 
        %i.fa.fa-search
        Assets

  .col-md-4
    .progress
      .progress-bar.bg-success{role: "progressbar", style: "width: #{@scenario.percent_funded}%"}
        ="#{@scenario.percent_funded}% Funded"


  //State Info and Actions
  .col-md-2
  .col-md-2
    .well
      .row
        %h4
          =@scenario.state_title
        =@scenario.state_description
      .row.text-center
        %br
        =render "#{@scenario.state}_actions"
      .row.text-center
        %input#emailUpdates{type: "checkbox", checked: @scenario.email_updates, "data-scenario": @scenario.object_key}
        Email Updates


.row 
  .col-md-12
    =column_chart Scenario.peaks_and_valleys_chart_data(@scenario), prefix: "$", stacked: true, label: "Value"
.row
  /// LEFT COLUMN
  .col-md-3
    //Comments
    .row
      =render 'scenario_comments'
    
    //Assets


    

  // RIGHT COLUMN

  //Phases
  .col-md-9
    -if @scenario.draft_projects.length > 0 && @scenario.draft_project_phases.length > 0
      .row.text-left
        = form_with model: @scenario, html:{class: "phase_filter"} do |f|
          = f.select :ali_select, @scenario.draft_projects.map { |proj| proj.team_ali_code }.uniq, include_blank: "Select ALI"
          = f.select :year_select, options_for_select((@scenario.fy_year..@scenario.ending_fy_year).map{ |y| [format_as_fiscal_year(y), y] }, @phase_filter_year)
      %br 
      
      -@scenario.draft_project_phases.where(fy_year: @phase_filter_year).each_with_index do |phase, index|
        .row
          .col-md-12
            =render partial: "phase_with_assets_panel", locals: {phase: phase}

//Projects
//.row
//  .col-md-12
//    =render partial: "draft_projects_table", locals: {scenario: @scenario}

:javascript

  $(document).on("change", "select[name='scenario[ali_select]']", (x) => {
    let code = $(x.target).val();
    $(".phase").show();
    if (code) $(".phase:not([ali='" + code + "'])").hide();
  });

  $(document).on("change", "select[name='scenario[year_select]']", (x) => {
    let year = $(x.target).val().toString();
    let url = location.href.replace(location.search, '');
    location.replace(url+"?filter_year="+year);
  });

  // within a phase panel
  const change_phase_year = (id, year) => {
    // send new year to controller to update 
    $.ajax({
        url: "/draft_project_phases/"+id,
        data: {"draft_project_phase": {"fy_year":year}},
        method: 'PUT',
        dataType: 'json',
        success: function(data) {
          console.log(id);
          console.log("updated phase");
        },
        error: function(e) {
          console.log(e);
        }
      });
  }

  // Method to Update the Pin Status
  const change_pinned_status = (id, status) => {
    $.ajax({
        url: "/draft_project_phases/"+id,
        data: {"draft_project_phase": {"pinned":status}},
        method: 'PUT',
        dataType: 'json',
        success: function(data) {
          console.log(id);
          console.log("updated phase");
        },
        error: function(e) {
          console.log(e);
        }
      });
  }

  $(document).on("change", "select[name='draft_project_phase[phase_year_select]']", (x) => {
    let id = $(x.target).closest(".panel").attr("id"); // get id from parent panel
    $(x.target).closest(".panel").hide() // Hide this panel since it's no longer part of this year.
    let year = $(x.target).val();
    change_phase_year(id, year);
  });

  let convert_to_fiscal = (y) => {
    let first = y.toString().slice(2,4);
    let second = (parseInt(first) + 1).toString(); // not century safe
    return first + '-' + second;
  }

  // Delete a phase and hide the panel
  function deleteThisPhase(object_key){
    console.log('Deleting . . . ');
    $.ajax({
      url: '/draft_project_phases/' + object_key,
      dataType: "json",
      type: 'DELETE',
      success: function(result) {
        console.log("DELETED PHASE");
      }
    });
  }


  // Deal with the emaili Updates checkbox
  // Let users NOT spam everyone with email
  $(document).ready(function() {

    $('#emailUpdates').click(function() {
      var email_updates = this.checked;
      var object_key = this.dataset.scenario;

      $.ajax({
        url: "/scenarios/" + object_key,
        data: {"scenario": {"email_updates": email_updates}},
        method: 'PUT',
        dataType: 'json',
        success: function(data) {
          console.log("updated email status");
        },
        error: function(e) {
          console.log(e);
        }
      });
    });

    $('.assetTable').DataTable();

    // This controls the year dropdown in each asset table
    $(".assetReplacementYear").change(function(){
      var object_key = $(this).attr("id");
      var year = $(this).val();
      $("#" + object_key + "Cell").html("Moved to: " + year);
      //this.innerHTML = "WAITING...";
      moveTo(object_key, year, this);
    });

    
    // This controls the delete a phase trash icon
    $(".deletePhase").click(function(){
      var r = confirm("Are you sure that you want to remove this phase? This action cannot be undone.");
      var object_key = this.dataset.objectKey;
      if (r == true) {
        deleteThisPhase(object_key);
        $('#' + object_key).hide();
      } else {
        console.log('NOT DELETED');
      }
    });

    // Handle When someone pins/unpins a phase
    $(".pinner").click(function(){
      var object_key = this.dataset.objectKey;
      console.log(object_key);
      if (this.classList.contains('pinned')) {
        console.log('UNpinning');
        change_pinned_status(object_key, false);
        this.classList.add("unpinned");
        this.classList.remove("pinned");
        // do some stuff
      } else {
        console.log('pinning');
        change_pinned_status(object_key, true);
        this.classList.add("pinned");
        this.classList.remove("unpinned");
      }
    });


  });


