%ul.nav.nav-tabs
  %li
    %a{:href => "#alloc", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @grant.funding_requests.count
      = "Allocations"
  %li
    %a{:href => "#docs", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @grant.documents.count
      = "Supporting Documents "
  %li
    %a{:href => "#chrt", :data =>{:toggle => 'tab'}}
      = "Cash Flow"

.tab-content
  .tab-pane.fade#alloc
    .tab-content
      - if @grant.funding_requests.empty?
        %p There are no projects that use this fund.
      - else
        = render :partial => 'funding_requests/index_table', :locals => {:funding_requests => @grant.funding_requests}
  .tab-pane.fade#docs
    .tab-content
      = render 'documents'
  .tab-pane.fade#chrt
    .tab-content
      #chart_div{:style => "height:350px;"}
