%fieldset
  %legend= "#{i_f.object.fiscal_year}: #{i_f.object.funding_source_type}"
  = i_f.input :id, :as => :hidden
  = i_f.input :object_key, :as => :hidden
  = i_f.input :fy_year, :as => :hidden
  = i_f.input :funding_source_type_id, :as => :hidden
  = i_f.input :amount
  = i_f.input :estimated
  
  