%ul.nav.nav-tabs
  %li
    %a{:href => "#service", :data =>{:toggle => 'tab'}}
      = "Service Area"
  - unless @org.assets.empty?
    %li
      %a{:href => "#assets", :data =>{:toggle => 'tab'}}
        = "Asset Summary"
  - if @org.respond_to? :budgets
    %li
      %a{:href => "#budget", :data =>{:toggle => 'tab'}}
        = "Budgets"
  - if @org.respond_to? :capital_projects
    %li
      %a{:href => "#capital", :data =>{:toggle => 'tab'}}
        = "Capital Needs"
    %li
      %a{:href => "#projects", :data =>{:toggle => 'tab'}}
        = "Capital Projects (#{@org.capital_projects.count})"
  %li
    %a{:href => "#users", :data =>{:toggle => 'tab'}}
      = "Users (#{@org.users.count})"
  %li
    %a{:href => "#map", :data =>{:toggle => 'tab'}}
      = "Map"

.tab-content
  .tab-pane.fade#service
    .tab-content
      = render 'service_area'
  .tab-pane.fade#map
    .tab-content
      = render 'map'
  - unless @org.assets.empty?
    .tab-pane.fade#assets
      .tab-content
        = render 'asset_summary'
  .tab-pane.fade#users
    .tab-content
      = render 'users/index_table'
  - if @org.respond_to? :budgets
    .tab-pane.fade#budget
      .tab-content
        = render 'capital_projects/budgets_table'
  - if @org.respond_to? :capital_projects
    .tab-pane.fade#capital
      .tab-content
        = render 'capital_projects/rollup_table'
    .tab-pane.fade#projects
      .tab-content
        = render :partial => 'capital_projects/summary_index_table', :locals => {:projects => @org.capital_projects}
