%ul.nav.nav-tabs
  %li
    %a{:href => "#orgs", :data =>{:toggle => 'tab'}}
      = "Parameters"

.tab-content{:style => 'max-height:400px;overflow-y: auto;'}
  .tab-pane.fade#orgs
    .tab-content
      = format_field("Capital Project Type", CapitalProjectType.find_by(id: @user_activity_line_item_filter.capital_project_type_id)) if @user_activity_line_item_filter.capital_project_type_id.present?
      = format_field("SOGR Type", @user_activity_line_item_filter.sogr_type)
      = format_field("Scope", format_as_list(TeamAliCode.where(id: @user_activity_line_item_filter.team_ali_codes.split(',')))) if @user_activity_line_item_filter.team_ali_codes.present?
      = format_field("Asset Type", format_as_list(AssetType.where(id: @user_activity_line_item_filter.asset_types.split(',')))) if @user_activity_line_item_filter.asset_types.present?
      = format_field("Asset Subtype", format_as_list(AssetSubtype.where(id: @user_activity_line_item_filter.asset_subtypes.split(',')))) if @user_activity_line_item_filter.asset_subtypes.present?
      = format_field("Project Districts", format_as_list(District.where(id: @user_activity_line_item_filter.districts.split(',')))) if @user_activity_line_item_filter.districts.present?

      = format_field("In Backlog", format_as_boolean(@user_activity_line_item_filter.in_backlog)) if @user_activity_line_item_filter.in_backlog

      = format_field("Asset Query", QueryParam.find_by(class_name: 'UserActivityLineItemFilter', query_string: @user_activity_line_item_filter.asset_query_string)) if @user_activity_line_item_filter.asset_query_string.present?

      - SystemConfig.transam_module_names.each do |mod|
        - view_component = "#{mod}_user_activity_line_item_filter_detail_fields"
        - if lookup_context.template_exists?(view_component, 'user_activity_line_item_filters', true)
          = render :partial => "user_activity_line_item_filters/#{view_component}"