- subtype_ids_by_type = AssetSubtype.pluck(:asset_type_id, :id).each_with_object({}) { |(f,l),h|  h.update(f=>[l]) {|_,ov,nv| ov+nv }}
.row
  = simple_form_for([current_user, @user_activity_line_item_filter], :html => {:id => 'filter_form', :class => 'form-vertical' }, :wrapper => :vertical_form, :wrapper_mappings => {:boolean => :vertical_boolean}) do |f|
    .col-sm-6
      = dialog_tag('Details', {:icon => 'fa fa-list', :class => "form-part"}) do
        = f.input :name, :placeholder => "Enter a name for this filter", :required => true
        = f.input :description, :as => :text, :placeholder => "Enter a description for this filter.", :rows => 3, :required => true

        - if can? :share, @user_activity_line_item_filter
          .form-group.required
            %label.required.control-label
              %abbr{title: 'required'} *
              = " Shared With"
            %br
            - shared = @user_activity_line_item_filter.shared
            = radio_button_tag :share_filter, 'private', shared == 'No One'
            No One
            %br
            = radio_button_tag :share_filter, 'main_org', shared == current_user.organization.short_name
            = current_user.organization.short_name
            %br
            = radio_button_tag :share_filter, 'all_orgs', shared == 'All Organizations'
            All Organizations
    .col-sm-6
      = dialog_tag('Parameters', {:icon => 'fa fa-list', :class => "form-part"}) do

        = f.input :capital_project_type_id, :collection => CapitalProjectType.active, :label => 'Type'
        = f.input :sogr_type, :collection => ['All', 'SOGR', 'Non-SOGR'], :label => 'SOGR', :include_blank => false
        = f.input :team_ali_codes, :collection => TeamAliCode.categories, :label_method => 'full_name', :label => 'Scope'
        = f.input :districts, :collection => District.active, :label_method => :to_s, :label => 'Project Location'
        .row
          .col-sm-6
            - if Rails.application.config.asset_base_class_name == 'Asset'
              = f.input :asset_types, :collection => AssetType.active, :label => 'Asset Type'
            - else
              = f.input :fta_asset_classes, collection: FtaAssetCategory.active, as: :grouped_select, group_method: :fta_asset_classes, :label => 'FTA Asset Class'
          .col-sm-6
            = f.input :asset_subtypes, :collection => AssetSubtype.active.map{|x| [x.to_s, x.id]}, :label => 'Asset Subtype'

        = f.input :in_backlog

        - SystemConfig.transam_module_names.each do |mod|
          - view_component = "#{mod}_user_activity_line_item_filter_form_fields"
          - if lookup_context.template_exists?(view_component, 'user_activity_line_item_filters', true)
            = render :partial => "user_activity_line_item_filters/#{view_component}", :locals => {:f => f}

    .col-sm-12
      - unless current_user.user_activity_line_item_filter == @user_activity_line_item_filter
        = f.button :submit, "Update ALI Filter", :class => "btn btn-primary"
      = f.button :submit, "Update and Select This Filter", :class => "btn btn-primary"

= render 'user_activity_line_item_filters/form_scripts'

:javascript

  $('#filter_form').validate({
    rules: {
      share_filter: {
        required: true
      }
    },
    submitHandler: function(form) {
      form.submit();
    }
  });
