<div class="row">
	<div class="col-md-12" id="accordion">
		<fieldset>
			<legend>Federal</legend>
			<div class="well well-small collapse in" id="chart-div">
				<div id="federal_chart_div"></div>
			</div>
		</fieldset>
		<fieldset>
			<legend>State</legend>
			<div class="well well-small collapse in" id="chart-div">
				<div id="state_chart_div"></div>
			</div>
		</fieldset>
	</div>
</div>

<script type="text/javascript">

	google.load('visualization', '1.0', {'packages':['corechart']});

	google.setOnLoadCallback(draw_chart);

	function draw_chart() {

		// Process the federal budget
		var federal_chart_data = new google.visualization.DataTable();
		federal_chart_data.addColumn('string', 'Fiscal Year');
		federal_chart_data.addColumn('number', '$ Budget');
		federal_chart_data.addColumn('number', '$ Requested');
		federal_chart_data.addColumn('number', '$ Remaining');
		
		var state_chart_data = new google.visualization.DataTable();
		state_chart_data.addColumn('string', 'Fiscal Year');
		state_chart_data.addColumn('number', '$ Budget');
		state_chart_data.addColumn('number', '$ Requested');
		state_chart_data.addColumn('number', '$ Remaining');
		
		// Determine how long the array is
		<% (1..@data[:labels].length - 1).each do |i| %>
		federal_chart_data.addRow(['<%= @data[:labels][i] %>', {v: <%= @data[:data][0][i].to_i %>, f: '<%= format_as_currency(@data[:data][0][i]) %>'}, {v: <%= @data[:data][2][i].to_i %>, f: '<%= format_as_currency(@data[:data][2][i]) %>'}, {v: <%= @data[:data][4][i].to_i %>, f: '<%= format_as_currency(@data[:data][4][i]) %>'}]);
		state_chart_data.addRow(['<%= @data[:labels][i] %>', {v: <%= @data[:data][1][i].to_i %>, f: '<%= format_as_currency(@data[:data][1][i]) %>'}, {v: <%= @data[:data][3][i].to_i %>, f: '<%= format_as_currency(@data[:data][3][i]) %>'}, {v: <%= @data[:data][5][i].to_i %>, f: '<%= format_as_currency(@data[:data][5][i]) %>'}]);
		<% end %>

		var chart_options = {
			is3D : false,
			height : 200,
			isStacked: false,
			fontSize: 11,
			legend : {position : 'top'},
			vAxis :  {title : '$'},
			hAxis :  {title: "Fiscal Year"},
			colors:  ['green', 'blue', 'red']
		};
		var federal_chart = new google.visualization.ColumnChart(document.getElementById('federal_chart_div'));
		federal_chart.draw(federal_chart_data, chart_options);
		
		var state_chart = new google.visualization.ColumnChart(document.getElementById('state_chart_div'));
		state_chart.draw(state_chart_data, chart_options);
	}

	// Handle the resize event and make sure the chart is redrawn for the new size
	window.onresize = function() {
		draw_chart();
	};

</script>

