= form_tag report_path(@report), :class => "navbar-form navbar-right", :method => :get, :id => 'report_filter_form', :role => "form" do
  .form-group
    = select_tag(:fy_year, options_for_select(get_planning_fiscal_years_collection, :selected => @data.fy_year), :include_blank => "Any #{get_fy_label}...", :class => "form-control")
  .form-group
    = select_tag(:emergency_flag, options_for_select([['Any', 0], ['Emergency', 1], ['Non-Emergency', 2]], :selected => @data.emergency_flag), :class => "form-control")
  .form-group
    = select_tag(:multi_year_flag, options_for_select([['Any', 0], ['Multi-Year', 1], ['Single Year', 2]], :selected => @data.multi_year_flag), :class => "form-control")
  .form-group
    = select_tag(:sogr_flag, options_for_select([['Any', 0], ['SOGR', 1], ['Other', 2]], :selected => @data.sogr_flag), :class => "form-control")

  = button_tag :class => 'btn btn-success', :type => 'submit' do
    %i.fa.fa-filter
